[2018-05-17 12:27] dofeldsc opened #1 "TestIssue for ToDo"

[2018-05-22 15:50] dofeldsc opened #2 "Erstellung eines Themes für die Universität Osnabrück"
Erste besprochene Anforderungen:
- [x] Header der Website mit dem Unilogo auf uniroten (#AD2034) Grund designed werden soll. Das VIVO-Logo kann daneben eingefügt werden
- [x] Zudem soll das Layout des Systems in Gänze dem Corporate Design der Uni angepasst
- [x] Der Wilkommensslogan soll in "Wilkommen auf VIVO@UOS/ Welcome to VIVO@UOS" geändert werden
- [x] Zusätzlich soll ein Begrüßungstext in en

[2018-05-24 13:15] dofeldsc commented on #2
Der Begrüßungstext bleibt erstmal wie er ist (in Absprache mit ZBW)

[2018-05-24 13:19] dofeldsc commented on #2
Für die Erstellung einer "eigenen" Profilseite für bestimmte Klassen bietet sich diese Anleitung an:
https://wiki.duraspace.org/display/VIVODOC19x/Class-specific+templates+for+profile+pages

Das neue Template kann man dann im Theme-Ordner unter "templates/body/individual" ablegen und es wird geladen (für kdsf:Professor erledigt)

[2018-05-29 08:39] #1 closed, assigned to nobody

[2018-05-29 09:29] dofeldsc commented on #2
Das Treffen am 28.05 hat noch folge Punkte ergeben:
Startseite:
- [x] VIVO-Header verkleinern -> das Vivo logo ist gemeint
- [x] Profillinienbilder tauschen und Hintergrund der "Überschrift" transparenter machen
- [x] Schwarzer Balken am Ende der Website in unigrau ändern

Profilseite (kdsf-Prof):
- [x] Kategorie "Professor" unter Name setzen, darunter die Denomination verschieben, darunter Statis

[2018-06-05 14:50] dofeldsc opened #3 "Single Sign-on mit LDAP"
How-To: wahrscheinlich Anbindung an den Tomcat

[2018-06-22 13:05] dofeldsc opened #4 "html in z.B. DOI zerlegt Anzeige, etc."
Wenn man z.B. bei einer Publikation die DOI als Link (<a>) angibt (passiert wenn man z.B. direkt von https://www.vr-elibrary.de/doi/10.14220/9783737006941.245#.Wyzzo-EzaAk die DOI kopiert)
dann ist die Anzeige und auch der Link auf vielen Seiten (z.B. Profil des Autors, Seite der Publikation, etc.) kaputt. Intern wird aus der Eingabe noch ein Link gebaut, was dazu führt das die eingefügt Link das

[2018-06-22 13:06] dofeldsc commented on #4
Generelle html-injections werden aber abgefangen also nur ein simples <a> Element ist erlaubt

[2018-10-10 14:23] dofeldsc opened #5 "Datenschutz / Copyright anzeige"
In der Datei footer.ftl des themes tenderfoot_uos (Vivo/webapp/themes/tenderfoot_uos/templates/page/partials) wird der Link für die Datenschutzerklärung / copyright Seite geswetzt. Man kann im "Site Admin" unter "Site Information" den Anzeigetext und die URL setzen.
Dann hat man nur das Problem, dass die Mehrsprachigkeit an dieser Stelle kaputt geht. Der Titel des Links benutzt schon das i18n labe

[2018-10-10 14:52] dofeldsc commented on #5
Dazu passt eigentlich auch noch die Frage ob das Impressum nur in deutsch vorhanden sein soll oder auch in englisch? Sonst finde ich die Version im myShare gut. Ich gieße das dann mal in html und lade das wie die Datenschutzerklärung in das Doku-Repo. Das Impressum muss dann in die Datei  "aboutPage" (home/src/main/resources/rdf/display/firsttime), falls es die englsiche Version ist einfach in VIV

[2018-10-10 15:43] sonschul commented on #5
Sprechen wir an dieser Stelle vom MiniVIVO oder dem VIVO@UOS Produktivsystem?
Ich denke für das MiniVIVO würde das deutsche Impressum ausreichen, weil wir zur Umsetzung der Leitlinien keine Mehrsprachigkeit brauchen.
Für das Produktivsystem würde ich beide Varianten einbauen. Soll ich die englische Version auch schon in den myShare Ordner legen?

[2018-10-11 08:36] dofeldsc commented on #5
Ja gerne, dann baue ich das direkt für beide Sprachen ein.

[2018-11-02 10:27] sonschul opened #6 "Footer "Hilfe" ersetzen durch "Über VIVO@UOS""
Bitte im footer den link von Hilfe (duraspace) ersetzen durch eine "Über VIVO@UOS" - Seite.
Dort soll kurz vorgestellt werden, welche Daten das VIVO@UOS abbildet und wie das VIVO im Gesamtprojekt FIS einzuordnen ist.

[2018-11-06 16:15] sonschul opened #7 "Profilseite der Professoren"
Nicht alle Abschnitte (Affiliation, Research, Contact aber "Alle anzeigen") werden übersetzt.

![grafik](https://user-images.githubusercontent.com/40201793/48077384-829fb600-e1e7-11e8-9639-87fbae82570f.png)

[2018-11-08 07:17] sonschul opened #8 "template Suchergebnis-Seite"
Auf der Seite der Suchergebnisse sollte in der Box "Zeige nur" die deutsche Klassenbezeichnung stehen.

![grafik](https://user-images.githubusercontent.com/40201793/48183308-9570d280-e32e-11e8-9118-dfa5efc7492a.png)

[2018-11-09 09:38] dofeldsc commented on #6
Kann ich bei Gelegenheit mal machen. Gibt es den Text denn schon irgendwo?

[2018-11-12 08:24] sonschul opened #9 "Fotos der Professoren für Profilseite"
Lässt sich in VIVO auch eine URL für ein Profilfoto hinterlegen?
Über die Oberfläche ist nur ein Upload möglich.

Dann würde ich Martin bitten nochmal einen Export mit einer Liste der Professoren inkl. Spalte für die URL zum Profilfoto zu schicken.

[2018-11-12 08:31] sonschul opened #10 "Anzeige der Such-Seite "Personen""
![grafik](https://user-images.githubusercontent.com/40201793/48335104-0d0b6e00-e65d-11e8-9898-cbfe7bf1c3d0.png)

Bitte statt "Titel" unter dem Namen des Prof. die Professur + Fach anzeigen z.B.:
Adam, Wolfgang
Professur für Germanistik

(ist das "für" in den Datenlieferungen noch drin)??

[2018-11-12 08:35] sonschul opened #11 "Filter / Seitenumbruch -Möglicheiten"
Auf der Personen-Suchseite wird bei "Alle" ein Umbruch nach Seiten vorgenommen.
Ich würde das gerne entweder ganz rausnehmen oder zumindest einrücken.

![grafik](https://user-images.githubusercontent.com/40201793/48335470-1a752800-e65e-11e8-87ab-d04eb15cff6a.png)

[2018-11-12 08:45] sonschul opened #12 "Seite:Home / section: home-research"
Unter Forschung tauchen die Drittmittelprojekte nicht auf.
Das TestProjekt wurde als Instanz in: Drittmittelprojekt (kdsf) angelegt.
Vermutlich werden nur Forschungsaktivitäten der VIVO Ontology angezeigt.

![grafik](https://user-images.githubusercontent.com/40201793/48336019-a50a5700-e65f-11e8-8388-49df7174f61f.png)

[2018-11-12 15:30] dofeldsc commented on #10
Das für? Du meinst unter "Professur" steht immer "Professur für" oder "Juniorprofessur für", ja das ist in der Datenlieferung drin aber wurde von mir extra per Skript entfernt. Warum was ist damit?

[2018-11-12 15:37] sonschul commented on #10
Wenn wir das unter dem Namen auf der Suchseiten einblenden wollen hätte man das "für" auch dahinter stehen lassen können, weil direkt dahinter das Fach erscheint.
Ansonsten fände ich es passender, wenn es JuniorprofessOr statt Juniorprofessur unter dem Namen heißt.

[2018-11-12 15:41] dofeldsc commented on #9
Was meinst du mit URL für ein Profilfoto? Das das Bild da dann automatisch runtergeladen und dann wieder hochgeladen wird oder meinst du das es da eingebettet wird? Beides ist zur Zeit meines Wissens nach nicht enthalten. Man kann bestimmt Fotos importieren bzw. Anlegen und diese wie jede andere Eigenschaft über die Ontologie an die Personen linken. Den Aufwand kann ich so nicht abschätzen

[2018-11-12 15:47] sonschul commented on #9
Anders gefragt:
Kann man je Professor eine Adresse hinterlegen wie (Quelle-Stud.IP):
https://studip-assets.uni-osnabrueck.de/pictures/user/8d3e22547376cc9a04f4160fb5014ae1_normal.png?d=1418739132

Ich sehe nur die Upload-Seite, um ein Bild auf den Server hochzuladen.
Kann ich gerade nicht anmelden, sonst reiche ich noch mal einen Screenshot nach.

[2018-11-12 15:52] dofeldsc commented on #9
Man kann eine Adresse hinterlegen aber diese sollte eine erreichbare sein. Das heißt man sollte die Bilder auf der VM oder einer anderen zur Verfügung stellen, diese in eine Datei eintragen und dann kann ich das mappen und einspielen. Ich denke nicht das das aus Stud.IP heraus möglich ist aber sicher bin ich nicht. Eine abrufbare URL zum Download sollte funktionieren aber besser lokal auf der VM

[2018-11-12 15:58] dofeldsc commented on #12
Ich habe gerade mal nachgeschaut, die Klassen sind hart in dem Template eingefügt also man könnte das hinzufügen oder das Drittmittelprojket also die Klasse einfach als Unterklasse einer verwendeten Klassen einordnen. Also es ist möglich aber ich muss dafür mal mit jemandem sprechen der sich gut mit Ontologien auskennt.

[2018-11-12 15:59] sonschul commented on #9
Hmm... dann ist aber die Frage wie wir das aktuell halten, wenn die Professoren ihre Kontaktdaten (und Foto) nur in Stud.IP pflegen. Alternativ schlage ich vor erstmal ohne Fotos zu arbeiten.

[2018-11-12 16:01] dofeldsc commented on #11
Du meinst das Seite 1 2 3 einfach ein Stück nach rechts? Rausnehmen würde ich das nicht, da man auf keinen Fall eine Seite mit mehreren Hundert Objekten laden möchte.

[2018-11-12 16:05] sonschul commented on #11
Jep, nach rechts einrücken!

[2018-11-12 16:09] sonschul commented on #10
Nochmal zum Thema: Juniorprofessor, Stiftungsprofessor... Im KDSF sind das eigene Klassen. (vermutlich Unterklassen von Professor) Hätte man das anders mappen müssen?
Also pro Klasse eine eigene Tabelle "Stiftungsprofessoren.xls" in die Klasse "Stiftungsprofessor" laden müssen?

[2018-11-12 16:15] sonschul opened #13 "Fehler - Übersetzungen: Konzepte"
Auch auf den Konzept-Seiten taucht der Fehler auf, dass bei fehlender Übersetzung einfach irgendeine Sprache genutzt wird... Spanisch ?

Beispiel:
https://fis.virtuos.uni-osnabrueck.de/vivouos/display/n4404

[2018-11-12 16:17] sonschul commented on #13
![grafik](https://user-images.githubusercontent.com/40201793/48360109-c9395880-e69e-11e8-8089-de53d0cbad07.png)

[2018-11-12 16:23] dofeldsc commented on #10
Ja, hatte ich auch mal angesprochen. Wenn ihr danach sortieren wollt oder bestimmte Filter (links) dafür braucht dann wäre das das richtige Vorgehen gewesen. So kann man es jetzt zwar anzeigen aber sehr schwer danach sortieren bzw filtern. Auch dieses "In der Property steht Juniorprofessur aber da soll Juniorprofessor stehen" ist wieder mehr Aufwand als es aussieht

[2018-11-12 16:26] dofeldsc commented on #9
Also ich habe mich mal schlau gemacht. Stud.IP könnte mir eine Liste von Benutzerkennung + URLs zu den Profilbildern liefern aber
1. Nur für die Leute, welche auch zugestimmt haben ihre Bilder auch für andere Seiten zur Verfügung zu stellen (Option in Stud.IP beim Upload)
2. Mit dem Datenschutzbeauftragten klären ob das FIS schon als uniweiter Dienst gilt und andere rechtliche Bestimmungen...
3. D

[2018-11-12 16:28] dofeldsc commented on #9
Achja das könnte sich aber bald alles erledigt haben...Auch das mit den IDs. ES gab anfangs ein Treffen mit der Personendaten AG in der das Rechenzentrum das Konzept für das IDM vorgestellt hat. Sobald das fertig ist hat man alles was wir wollen. Die sollen alle Daten (Bilder, Kontaktdaten, IDs, etc) zusammenfassen und für andere Systeme zur Verfügung stellen. Da könntet ihr mal anfragen wie der S

[2018-11-12 16:29] sonschul commented on #9
Ich frag gerne nach einem aktuellen Stand, aber ich hab wenig Hoffnung, dass es da schon etwas Neues gibt. :-/

[2018-11-12 16:32] sonschul commented on #12
Drittmittelprojekt scheint auch bei den activites und nicht bei research eingeordnet zu sein.
('externally funded project') und nur die unterklassen von research wie article, books werden angezeigt. Abstract funktioniert aber auch nicht....
In vivo habe ich keine klasse unter Research gefunden, die man dafür als Oberklasse nutzen könnte.
Aber vielleicht kann da noch jemand von den Ontolgie-Experte

[2018-11-12 17:03] sonschul commented on #9
Wenn das IDM zeitnah kommt, könnte man auch trotzdem die Schiene fahren, dass man einmal initial lädt und danach die Schnittstelle zum IDM abwartet.

[2018-11-13 08:44] dofeldsc commented on #12
"<#if (class.individualCount > 0) && (class.uri?contains("AcademicArticle") || class.uri?contains("Book") || class.uri?contains("Chapter") ||class.uri?contains("ConferencePaper") || class.uri?contains("Grant") || class.uri?contains("Report")) >" (lib-home-page.ftl)

Das ist die Anweisung im Code. Also müssen es mehr als 0 sein und aus einer der 6 Klassen stammen. Das könnte man also ohne große Pro

[2018-11-13 08:56] sonschul commented on #12
und wenn du mal probierst dahinter folgendes einzufügen:
|| class.uri?contains("Drittmittelprojekt"))

BTW das Label enthält einen Rechtschreibfehler. Das heißt externally funded project auf englisch:
![grafik](https://user-images.githubusercontent.com/40201793/48401861-6beae900-e72a-11e8-98ad-e0e371362dc8.png)

[2018-11-13 09:03] dofeldsc commented on #12
Ja das das so geht ist mir bewusst :D So wie das da gemacht wurde würde man das nur generell nicht machen. Man Schreibt solche Klassen nicht hart in den Code. Wenn sich jetzt ein Klassenlabel ändert oder noch andere Klassen hinzukommen müsste man jedes mal den Code anpassen und neu bauen. Wie gesagt, ich überlege mir was

BTW ändern, commiten und dann pushen. Wenn ich mich richtig erinnere wolltet

[2018-11-13 09:12] sonschul commented on #12
Und wo steht das englische Label?

In der Ontologie kdsf-vivo-alignment.owl nämlich nicht...

    <owl:Class rdf:about="http://kerndatensatz-forschung.de/owl/Basis#Drittmittelprojekt">
		<rdfs:label xml:lang="de-DE">Drittmittelprojekt</rdfs:label>
        <rdfs:subClassOf rdf:resource="http://purl.obolibrary.org/obo/ERO_0000014"/>
        <Meta:inhaltlicheDefinition>Dr2a</Meta:inhaltlicheDefinitio

[2018-11-13 09:16] dofeldsc commented on #12
Ich fürchte du bist im falschen Branch, der Standard Branch (sollte eigentlich automatisch drin sein, funktioniert hier bei uns) für uns ist uos-extension.

Und da steht folgendes:
`<owl:Class rdf:about="http://kerndatensatz-forschung.de/owl/Basis#Drittmittelprojekt">
		<rdfs:label xml:lang="de-DE">Drittmittelprojekt</rdfs:label>
        <rdfs:label xml:lang="en-US">Externally fundet project</rdfs

[2018-11-13 09:26] sonschul commented on #12
Danke jetzt hab ich es auch gefunden!
Leider haut mir der ATOM Editor jede Menge Leerzeilen in den Code, daher hab ich es mit dem Notepad++ probiert... Hat es geklappt?

[2018-11-13 10:18] sonschul commented on #12
Ich hab gerade noch ein paar Änderungen der labels gepusht...
Was mache ich mit doppelten Definitionen in der kdsf-vivo-alignment wie Fach/Field oder Finanzierungsform?

[2018-11-13 10:26] dofeldsc commented on #12
Doppelte Definitionen? Du meinst die Klasse und die Property?

[2018-11-13 10:29] sonschul commented on #12
Besser: Divergierende Bezeichnungen! ;-)
Bei der Klasse und beim Objectproperty wurde unterschiedlich übersetzt.
Wäre es eventuell besser das anzugleichen?

[2018-11-13 10:39] dofeldsc commented on #12
Ihr bzw. du kannst das so ändern wie du es gerne haben möchtest :) Bei den meisten macht es bestimmt Sinn gleiche Labels zu benutzen aber z.B. eine Beziehung zwischen Person und Raum sollte vllt nicht Raum heißen sondern sowas wie "sitzt in". Man muss schon noch den Ontologiegedanken im Kopf behalten. Eine andere Anzeige ist bei sowas auch möglich. Die Ontologie für die Kontaktdaten besteht aus ei

[2018-11-13 11:05] dofeldsc commented on #10
Ich habe eine Lösung gefunden.Ich kann das jetzt auch aus einer Liste machen. Ich müsste nur wissen welche Professur ihr auf welche Klasse Mappen wollt. Ich habe das Beispielhaft jetzt für den TestProf in fis.virtuos.uos.de/vivouos mit Juniorprofessur gemacht. Ich muss dann nur noch ein Skript schreiben. Das verzögert als das Laden der Daten mit den neuen IDs.

[2018-11-13 11:30] sonschul commented on #10
Schön wäre es, wenn es in der Liste wie beim Stiftungsprofessor angezeigt wird (siehe rechts) und die Liste gefilter werden kann wie beim Juniorprofessor (siehe links):
![grafik](https://user-images.githubusercontent.com/40201793/48409591-83cb6880-e73c-11e8-998b-7688735a7b85.png)

Welche konkreten Ausdifferenzierungen gewünscht sind, habe ich gerade nachgefragt.

[2018-11-13 12:54] dofeldsc commented on #10
Die Klasse also hier "Stiftungsprofessur" verschwindet in der Anzeige wenn man einen Titel angibt und nach Stiftungsprofessur filtern geht nicht weil man das unter Einzelseiten-Verwaltung einstellen müsste das auch die Klassen filterbar sind. (Habe ich für Juniorprofessur gemacht) Wenn das alles noch in der Schwebe ist dann warte ich jetzt mit dem Einspielen der Daten.

[2018-11-13 12:56] sonschul commented on #10
Bitte bis morgen warten... Frau Brüggemann hat auch noch Anmerkungen zur den Programm- und Vetretungsprofessuren, die ich morgen mit Marco noch mal besprechen muss.
Du kannst besser auf einen neuen Datensatz warten...

[2018-11-14 07:32] sonschul opened #14 "Personen-Suchseite / Klassen / Ansicht"
Ist es möglich die Personen-Seite in dieser Form darzustellen?

![grafik](https://user-images.githubusercontent.com/40201793/48466885-6b645800-e7e7-11e8-9e52-58e81db49bbd.png)

[2018-11-14 09:59] sonschul commented on #14
MEMO:

Label: Juniorprofessur - Liste der JuniorprofessorInnen / RDF local name: Juniorprofessoren
Label: Professur - Liste aller ProfessorInnen / RDF local name: OrdentlicheProfessoren
Label: Stiftungsprofessur - Liste der StiftungsprofessorInnen RDF local name: Stiftungsprofessoren
Label: Wissenschaftliches und künstlerisches Personal - Alle ProfessorInnen inkl. Vertretungsprofessuren (RDF local

[2018-11-16 09:11] dofeldsc commented on #10
Für mich als Notiz schon mal:
Die Anzeige der Instanzen einer Klasse lässt sich zum Beispiel mit so einem Template regeln (in diesem Fall für Klasse people und alle Unterklassen)
Da sollten wir den Titel rausnehmen und dann steht aber auch immer und überall die Klasse unter der Person also nicht nur in den filterbaren Listen sondern auch in der Suche etc.
(VIVO/webapp/src/main/webapp/templates/fre

[2018-11-16 09:32] dofeldsc commented on #5
Hat keine Eile, erstmal nur in deutsch

[2018-11-16 10:26] manschwa opened #15 "Skalieren der Leitlinienbilder auf der Startseite"
Größe der Website bisher ca. 50 MB (viel zu groß).

Leitlinienbilder unter
`/themes/tenderfoot_uos/images/`
verkleinern auf die Auflösung 365x182px

[2018-11-19 09:06] ghost opened #16 "Fehler: Mittelgeber der Projekte"
Bei Anklicken der Kdsf-Mittelgeber ""Nicht erklärte private Mittelgeber" und "Nicht erklärte öffentliche Mittelgeber" innerhalb der Projektseite erscheint: "Datensatz nicht gefunden".

[2018-11-19 09:14] dofeldsc commented on #16
Ja weil die so clever waren und Umlaute mit in die URIs genommen haben. Die Instanzen kommen aus der KDSF Ontology  und existieren zwar im System aber sobald man versucht diese zu linken werden die Umlaute aus der URI gelöscht und der Link funktioniert nicht. Also muss man in den KDSF-Ontologien einfach den internen Namen der Instanzen anpassen.
Machst du das oder soll ich?

[2018-11-19 10:02] sonschul opened #17 "Schlagwörter nicht Teil der Suche (Finden Sie einen Experten)"
Reminder: Wir hatte schon kurz darüber gesprochen, dass die Suche noch weitere Teile der Personenprofile beinhalten soll. Darunter vor allem:

- Schlagwörter
- Denomination
- Art der Professur (ehemals Bezeichnung der Professur)
- Fach

[2018-11-19 10:07] dofeldsc commented on #17
Also bei mir werden die berücksichtigt. Ich habe das unter https://fis.uni-osnabrueck.de/vivouos mit der Testperson ausprobiert. Wenn man die richtige Syntax (*) bei Substrings benutzt werden auch die gefunden. Funktioniert das bei dir nicht?

[2018-11-19 10:55] dofeldsc commented on #16
Ich habe es abgeändert, auf dem Testserver eingespielt und getestet. Passt alles

[2018-11-19 10:55] #16 closed, assigned to dofeldsc

[2018-11-19 10:59] dofeldsc commented on #17
Funktioniert. Anpassung der Hilfeseite für Erklärung der Syntax "*Suchbegriff*" wird über separates Ticket eingefügt.

[2018-11-19 10:59] #17 closed, assigned to nobody

[2018-11-21 11:54] sonschul opened #18 "Personen-Übersicht - Text abgeschnitten "Vertretungsprofessor/Lehrstuhlvertreter""
![grafik](https://user-images.githubusercontent.com/40201793/48839697-92450000-ed8c-11e8-8a91-316fffe94672.png)

[2018-11-21 12:41] dofeldsc commented on #18
Etwas Text wäre nett aber du meinst wahrscheinlich das Vertretungsprofessor/Lehrstuhlvertreter nicht umgebrochen wird oder?
Das liegt an deinen Änderungen in der KDSF Ontologie vom 13.11.

[2018-11-21 12:56] sonschul commented on #18
Änderungen nehme ich wie besprochen zurück!
Edit: Änderungen mit github commited und auch schon gepushed.

[2018-11-21 13:41] dofeldsc commented on #4
Sollte gefixed sein, ich schließe das Ticket jetzt. Sollte jemand nochmal so eine Stelle finden, einfach Bescheid sagen oder das Ticket wieder öffnen.

[2018-11-21 13:41] #4 closed, assigned to nobody

[2018-11-21 13:44] dofeldsc commented on #15
traumhaft, ist eingebaut und läuft. Dabei ist uns aufgefallen das die Bilder nicht ordentlich angeordnet sind (wahrscheinlich alter css fix überschrieben).
Ich hänge das an ein anderes Ticket damit wir dieses hier schließen können.

[2018-11-21 13:44] #15 closed, assigned to manschwa

[2018-11-21 13:52] dofeldsc commented on #13
Also als Standard wird jetzt die Sprache genommen die man als Alternative angibt, in unserem Fall also Englisch. Aber generell sollten keine Labels mehr nur auf einer Sprache verfügbar sein. Dafür am besten mal ein extra Ticket mit einer Liste dieser Labels @manschwa

=> Hat leider nur bei manchen Labels funktioniert...seltsam

[2018-11-21 14:46] dofeldsc commented on #11
Ist erledigt (im css des Themes tenderfoot_uos)

[2018-11-21 14:47] #11 closed, assigned to nobody

[2018-11-21 15:25] sonschul commented on #13
Die Menüleiste (Home, People, Organisationen ...) ist aber auch wieder "mehrsprachig" gemischt.

auf https://fis.virtuos.uni-osnabrueck.de/vivouos/

[2018-11-21 15:46] sonschul commented on #13
![grafik](https://user-images.githubusercontent.com/40201793/48852109-f1b30800-edac-11e8-9ea2-2f7b6168df65.png)

"member of" hatte vorher ein deutsches Label

[2018-11-21 15:52] sonschul opened #19 "Favicon "VIVO" durch Uni-Logo austauschen"
Falls das Logo in dem benötigten Format nicht vorliegt, frage ich noch mal bei KM nach.

[2018-11-21 15:55] dofeldsc commented on #13
ja wir probieren da gerade etwas rum, der alte Stand wird nachher aber wieder eingespielt falls das hier nicht funktionieren sollte

[2018-11-21 17:53] #19 closed, assigned to manschwa

[2018-11-23 12:39] sonschul opened #20 "home und search icons austauschen"
Auf https://fontawesome.com/ gibt es free Icons, die man als stylesheet im `<head>` bei bootstrap Projekten einfügen kann. Hätte den Vorteil, dass man sie vor beliebigen Hintergründen und Größen nutzen kann. (gibt es aber auch zum Download, falls das gewünscht ist)

Lupe: https://fontawesome.com/icons/search?style=solid
Haus: https://fontawesome.com/icons/home?style=solid

Und ja, ich weiß, dass e

[2018-11-29 13:12] #18 closed, assigned to sonschul

[2018-11-29 13:19] dofeldsc commented on #10
https://wiki.duraspace.org/display/VIVODOC110x/Creating+short+views+of+individuals
Eine Anleitung aber dafür müsste ich (oder Manuel, mal schauen) uns erst mehr mit Freemarker und den Ajax/JS Skripten auseinandersetzen. Den Titel kann man rausnehmen und dann wird immer die Klasse angezeigt aber um Dinge hinzuzufügen müsste man schon wissen was man da tut

[2018-11-29 14:59] manschwa commented on #7
VIVO/webapp/src/main/webapp/themes/tenderfoot/templates/body/partials/individual/individual-property-group-tabs.ftl:24

[2018-11-29 15:01] manschwa commented on #8
Vitro/webapp/src/main/webapp/templates/freemarker/body/search/search-pagedResults.ftl:36

[2018-11-30 06:36] sonschul commented on #10
Vielleicht können wir in Cornell nachfragen? Dort wird in der "Domain Expert"-Suche als Text unter dem Namen der Professoren auch der Status (z.B. Professor) und Fach bzw. bei einigen auch Fachbereich angezeigt.

![grafik](https://user-images.githubusercontent.com/40201793/49272584-5d166d00-f472-11e8-8caa-2703364fb37f.png)

[2018-11-30 10:13] ghost commented on #2
Ich hoffe, ich lege das hier jetzt richtig an. Was schon erledigt ist bitte einfach abhaken. Wie gestern besprochen sind noch folgende Aufgaben zu erledigen:

- [x] Startseite: Button: "Alle anzeigen" in Uni-rot

- [x] Home-/Search-Icons einpflegen (Jesko nach Vorlage fragen)

- [x] Personenseite: "Konzepte" in rot anstatt blau (bisher noch keine Konzepte angelegt)

- [x] Layout auf allen Seiten:

[2018-12-04 09:29] sonschul opened #21 "Anpassungen der Ontologie KDSF bzw. UOS-Core (Verlagsort)"
Sollen Änderungen lieber in der KDSF-Ontologie oder im UOS-Core vorgenommen werden?

Ontology: KDSF-VIVO-Alignment
Klasse: Verlag (kdsf)
--> Verlagsort

Der Klasse Verlag (kdsf) (äquivalent zu Publisher (vivo)) sollte eine weitere Eigenschaft namens "Verlagsort" zugewiesen werden, die als Ausprägungen nur ein Literal (String) enthalten soll. Einem Verlag scheinen mehrere Verlagsorte zugeordnet wer

[2018-12-04 10:52] dofeldsc commented on #21
Eigentlich füge ich Dinge immer gerne in unsere eigene Ontologie ein damit wir nicht zu sehr vom Stand der Community abweichen aber das gehört ja deutlich zum KDSF.
Ich schick den eh bald mal unsere Überarbeitungen.

Ich habe es jetzt dem KDSF hinzugefügt und würde den aktuellen Stand gleich auf den Server spielen.

Was hättest du gern als englisches Label? "publishing place"?

[2018-12-04 11:02] sonschul commented on #21
Im Harvard Referencing Guide heißt es "place of publication". Lieber so benennen!

[2018-12-04 11:07] dofeldsc commented on #21
Alles klar, ich spiele es gerade ein

[2018-12-04 11:07] #21 closed, assigned to dofeldsc

[2018-12-05 09:08] #12 closed, assigned to nobody

[2018-12-07 16:07] sonschul opened #22 "Capability Map und Map of Science (beides übersetzt als Wissenschaftslandkarte)"
Inhaltlich zwar nicht das gleiche, aber beides in MiniVIVO auf Grund fehlender Eingaben nicht funktionstüchtig. Wir sollten überlegen diese Funktionen vorübergebend zu deaktivieren.

[2018-12-10 08:34] ghost opened #23 "Publikationsgrafik"
Die Grafik "Publikationen in VIVO" auf der Personenseite (von Personen, die eine Publikation vorzuweisen haben) wird noch falsch angezeigt. Die Skalierung beginnt "abgehackt" bei 0,3.

[2018-12-10 10:06] dofeldsc commented on #22
Deswegen wurde der Menüpunkt ja zu Fähigkeitskarte geändert aber die Änderung wolltest du wieder rückgängig gemacht haben.
Den Punkt im Menü kann man über die Einzelseitenverwaltung entfernen.
Den anderen Fall auf der Profilseite wollte Manuel sich anschauen. Müsst nur sagen ob wir entfernen sollen oder nicht.

[2018-12-10 10:07] dofeldsc commented on #23
Bei denen die ich mir jetzt gerade angeschaut habe nicht...Hast du mal ein Beispiel für mich?

[2018-12-10 10:10] sonschul commented on #22
Dann nehme ich den Menüpunkt erstmal raus über die Einzelseitenverwaltung auf fis.uni-osnabrueck.de und wir schauen uns das für das nächste Release an.

[2018-12-10 10:38] sonschul commented on #23
https://fis.uni-osnabrueck.de/vivouos/display/CeRa138

![grafik](https://user-images.githubusercontent.com/40201793/49727247-08dc6b80-fc70-11e8-81e2-167217bcda62.png)

[2018-12-10 10:56] dofeldsc commented on #23
![abbildung_publikationen](https://user-images.githubusercontent.com/9248706/49728221-75586a00-fc72-11e8-9b1e-09afc42940b6.png)
seltsam, ist bei mir nicht so. Die Grafiken werden immer für jeden Client neu erstellt aber mehr habe ich mir dazu noch nicht angeschaut.

[2018-12-10 11:11] dofeldsc commented on #23
Ist ein Problem vom Browser (Firefox Version 63.0.3 (64-Bit) getestet). Wenn man der SVG-Grafik einfach mehr Höhe gibt das würde das auch passen. Grafik ist also in Ordnung, wird nur falsch angezeigt (zu klein)

[2018-12-10 12:10] sonschul commented on #20
Erledigt, oder? @manschwa

[2018-12-10 12:13] sonschul opened #24 "Menüsortierung"
Laut DuraSpace müsste es eine Funktion für die Menüsortierung geben.
Dort kann man mit Drag&Drop die Seiten neu anordnen.
Wird das nur bei mir nicht korrekt geladen, oder funktioniert das grundsätzlich nicht?

https://wiki.duraspace.org/display/VIVODOC110x/Menu+and+page+management

[2018-12-10 12:26] sonschul opened #25 "Untertitel auf Seite "Organisationen" für Fachbereiche / Institute ausblenden"
Da als Untertitel in der Liste noch "Academic Department" und "Institute" angezeigt werden und nicht die deutschen Klassenbezeichnungen, wäre es schön, wenn die Untertitel wie bei der Seite für das "Fach" ausgeblendet werden.

[2018-12-10 12:27] manschwa commented on #20
Ja, ist erledigt, siehe
https://github.com/FISvirtUOS/VIVO/commit/0e1c4c7526cf6ba3d95b569b9414bb6652b3727a
und
https://github.com/FISvirtUOS/VIVO/commit/f16b82ede5902703a9b380e4890950c9b7225821

[2018-12-10 12:27] #20 closed, assigned to nobody

[2018-12-10 16:08] dofeldsc commented on #25
erledigt durch eigene ShortView für foaf:Organisation und alle Unterklassen

[2018-12-10 16:08] #25 closed, assigned to nobody

[2018-12-11 12:54] sonschul opened #26 "Text in Suchfeld ändern (gendergerechte sprache)"
Bitte bis Freitag den Anzeige-Text im Suchfeld der Startseite ändern in:
"Finden Sie Expertinnen und Experten"

[2018-12-11 12:55] #14 closed, assigned to nobody

[2018-12-11 12:55] #22 closed, assigned to nobody

[2018-12-12 09:36] dofeldsc commented on #14
Geschlossen heißt das hat sich erledigt? Die Änderungen gab es ja noch nicht, der Eintrag von mir am Ende da habe ich mich leider im Ticket vertan

[2018-12-12 09:53] sonschul commented on #14
Vorläufig erledigt.

[2018-12-12 10:02] dofeldsc commented on #26
erledigt

[2018-12-12 10:02] #26 closed, assigned to nobody

[2018-12-12 12:59] sonschul opened #27 "Darstellung Mobile Endgeräte"
Bei der Darstellung auf mobilen Endgeräten wird derzeit die "search-field-box" abgeschnitten.
@manschwa Kannst du dir das bitte schauen?

![image](https://user-images.githubusercontent.com/40201793/49871266-a620d680-fe0d-11e8-8c04-2cc672d9bccf.png)

[2018-12-12 16:03] sonschul opened #28 "Projektergebnisse neu laden (fehlerhafte DOI)"
Projektergebnisse neuladen wegen Fehler in der DOI Spalte.

![image](https://user-images.githubusercontent.com/40201793/49881862-3586b380-fe27-11e8-91ea-3704c0c6cb8c.png)

Siehe dazu auch neue Datei in Mail von Marco

[2018-12-13 09:04] dofeldsc commented on #24
Ja das ist gerade leider kaputt, es gibt schon eine eingebaute Lösung aber bis jetzt in keiner Release Version. Kommt also wahrscheinlich mit dem nächsten Vivo Patch

https://jira.duraspace.org/browse/VIVO-1613?src=confmacro

[2018-12-13 09:08] #24 closed, assigned to nobody

[2018-12-13 09:20] dofeldsc commented on #10
Wie ist der Stand des Tickets? Was ist jetzt genau gewünscht?
Ich habe gestern bei den Fachbereichen und Instituten die ShortView (Listenansicht) angepasst. Man kann durch SparQL-Queries die gewünschten Daten nachladen.

[2018-12-13 09:23] #2 closed, assigned to dofeldsc

[2018-12-13 09:24] #13 closed, assigned to manschwa

[2018-12-13 09:36] sonschul commented on #10
Gewünscht wäre statt dem Titel "Prof. Dr." unter den Professoren als Untertitel "Professur, Denomination".
Also z.B.
Busch, Karin
"Juniorprofessur, Mitochondriale Dynamik"

[2018-12-13 09:38] sonschul opened #29 "Begrüßungstext auf Startseite austauschen"
Unter dem Suchformular auf der Startseite bitte den folgenden Text einfügen:

"Mit VIVO wird Ihnen ein forschungsorientiertes Recherchewerkzeug zur Verfügung gestellt, mit dem Sie Einblick in wesentliche Informationen zu ausgewählten Drittmittelprojekten und daraus hervorgegangenen Forschungsergebnissen erhalten können, die im Rahmen der niedersächsischen Leitlinien zur Transparenz in der Forschun

[2018-12-13 10:22] sonschul opened #30 "Last Minute Wünsche für Präsentation (Anpassung Projektprofil)"
Auf der Seite der Projekte wäre es schön, wenn die folgenden drei Punkte noch geändert werden:

- [x] false bei Koordinatorenrolle ausblenden. Im Prinzip kann auch die ganze Katgeorie raus, weil bei allen "false" steht

- [x] Den Text "Fach" (Klasse) hinter dem eigentlichen Fach raus

- [x] Academic Department raus

![image](https://user-images.githubusercontent.com/40201793/49932209-c5306e80-fec8

[2018-12-13 10:24] sonschul opened #31 "Externe Projektseite als Link einbetten"
![image](https://user-images.githubusercontent.com/40201793/49932543-9666c800-fec9-11e8-9ef3-de20663b7ceb.png)

z.Z. nicht anklickbar

[2018-12-13 12:30] dofeldsc commented on #28
DOI wurden angepasst, ISBN13 hinzugefügt und die externe URL wird abgebildet. Die Ontologie wurde um eine Property "externe URL" für kdsf:Publikationen ergänzt.

Kann ich davon ausgehen das die ISBN immer alsd ISBN13 angeliefert wird oder kann auch die 10-Variante vorkommen. In der aktuellen Liste war jetzt nur die ISBN13 dabei also passt das erstmal.

Daten sind upgedatet!

[2018-12-13 13:29] dofeldsc commented on #31
Das ist ein generelles Vivo Problem und steht auch schon auf den Roadmap aber eigentlich bis Ende diesen Jahres also kein Ahnung wann das kommt (https://wiki.duraspace.org/display/DSPACE/End+User%3A+URLs+are+clickable+links+in+metadata+fields).

Ich habe jetzt mal eine eigene Lösung für diese Property und die neue "externe URL" bei Publikationen eingebaut. Bei Gelegenheit mal schauen ob ich das ni

[2018-12-13 13:30] #31 closed, assigned to nobody

[2018-12-13 14:48] dofeldsc commented on #30
Für alle drei Properties eine eigene ListView hinzugefügt.
Für die Properties "Fach" und "Organisationseinheit" wurde der Klassenname entfernt. Für "Koordinationsrolle" wurde von true und false auf ja  und nein gewechselt. Direkt auch für die Mehrsprachigkeit (bis jetzt nur englisch) hinzugefügt.
Wenn die Koordinationsrolle komplett ausgeblendet werden soll, kann das in der kdsf-Ontologie geändert

[2018-12-13 14:49] #30 closed, assigned to nobody

[2018-12-13 15:07] dofeldsc commented on #29
Kannst du den Text bitte auch direkt in englisch hinterlegen? Ich würde solche Inhalte ungern nur in einer Sprache einbauen. Ich integriere das dann direkt in die i18n-Dateien.

[2018-12-13 15:25] sonschul commented on #29
Schaffe ich heute nicht mehr... :-/
Kannst du das ausnahmsweise nur in deutsch einbauen?

[2018-12-13 15:26] dofeldsc commented on #29
Ist schon eingebaut aber wir sollten dran denken, nicht das irgendwer auf englisch umschaltet und dann steht da ein anderer Text.

[2018-12-13 15:40] sonschul commented on #5
Von Björn gab es zum Impressum keine Einwände. Kann man das noch irgendwo als Link einbauen ?
Zur Datenschutzerklärung hat er mir nach den "Systemtest" keine Rückmeldung mehr gegeben. Habt ihr noch was gehört, ob er Stresstest durchgeführt hat?

[2018-12-13 15:44] dofeldsc commented on #5
Er hat sich noch nicht gemeldet. Sollte das ein richtiger Stresstest sein wird er da auch Probleme kriegen da er nur die URL zu unserem "Testsystem" hat. Auf das Ergebnis bin ich mal gespannt.

Das Impressum kannst du gerne unter https://github.com/FISvirtUOS/VIVO-languages/blob/master-uos/home/src/main/resources/rdf/display/firsttime/aboutPage_de_DE.n3 einbauen. Ich muss schauen ob ich das dann b

[2018-12-13 16:08] sonschul commented on #5
Die Inhalte des Impressums unter https://github.com/FISvirtUOS/VIVO-languages/blob/master-uos/home/src/main/resources/rdf/display/firsttime/aboutPage_de_DE.n3  sind soweit schon in Ordnung werden aber unter https://fis.uni-osnabrueck.de/vivouos/about nicht angezeigt. Hatte ich versucht am Montag schon im Slack zu beschreiben.

[2018-12-14 08:36] dofeldsc commented on #5
Ja ich weiß und ich habe versucht zu beschreiben das solche Dinge nur geladen werden wenn man das System zum ersten Mal deployed. Es gibt zur Zeit keine gute Möglichkeit das nachzuladen.

Das Impressum im VIVO-languages Repo ist aber nicht das was du mal rumgeschickt hast.

[2018-12-14 15:42] dofeldsc commented on #10
Ist eingebaut aber noch nicht für alle Unterklassen. Irgendwie sieht das komisch aus wenn es eine normale Professur ist. Dann steht da z.B. "Professur, Schlagwort Denomination"

[2018-12-17 08:24] sonschul commented on #29
Ich würde gerne ein paar der Fließtexte sammeln und professionell übersetzen lassen.
Falls euch an anderer Stelle noch Texte auffallen, die übersetzt werden sollten, dann sag mir bitte Bescheid!

[2019-01-14 13:16] dofeldsc commented on #10
Funktioniert jetzt auch für alle Unterklassen von kdsf:Professor. Also
- Vertretungsprofessoren
- Stiftungsprofessoren
- Seniorprofessoren
- OrdentlicheProfessoren
- Juniorprofessoren
- HauptberuflicheGastprofessoren
- AusserplanmaessigeProfessoren

Ihr könnt ja mal schauen ob das so passt.

[2019-01-15 07:54] sonschul opened #32 "add DESTATIS as external vocabulary to model vocabularySource.n3"
`<https://onto.tib.eu/destf/cs/>
        a      <http://www.w3.org/2002/07/owl#Thing> ;
        <http://www.w3.org/2000/01/rdf-schema#label>
        "DESTATIS" .`

Für das Anzeigen der DESTATIS Fächersystematik bei den Forschungsgebieten der Personen-Profilseiten ist es erforderlich das SKOS Modell der TIB: [https://labs.tib.eu/skosmos/faechersystematik/de/](url)
mit folgender URI einzubinden: htt

[2019-01-15 10:02] sonschul commented on #9
Fotos der Professoren werden als Datei zur Verfügung gestellt.
IDM ist vorläufig auf Eis gelegt...

[2019-01-15 10:02] #9 closed, assigned to nobody

[2019-01-15 11:32] dofeldsc commented on #29
Die Terms of Use bzw. Nutzungsbedingungen sind auch nur auf englisch, haben wir ja gerade schon drüber gesprochen aber auf Dauer wäre das bestimmt nicht schlecht das zu übersetzen.

[2019-01-15 11:33] sonschul commented on #10
kannst du statt der juniorprofessoren die professoren als vorauswahl / einstiegsseite auswählen?

[2019-01-15 11:36] #28 closed, assigned to dofeldsc

[2019-01-15 11:51] sonschul commented on #29
Müssen bei den Terms of Use noch Anpassungen für die Uni Os vorgenommen werden?
Sonst würde ich mich darum kümmern, dass die Übersetzungen in Auftrag gegeben werden.

[2019-01-15 11:58] sonschul opened #33 "add text block to default template (menu page)"
Anpassen des default-templates
Unterhalb der `<h2>` überschrift in der section = "menupage-intro" soll ein hilfetext mit erklärungen zur jeweiligen klasse auftauchen.

[2019-01-15 14:06] manschwa commented on #27
Notiz für mich:
zudem verschwinden die Menüpunkte bei zu geringer horizontaler Auflösung, bzw. ist die Anzeige kaputt

[2019-01-16 13:56] dofeldsc commented on #29
Nicht das ich wüsste. Gerade nochmal durchgelesen aber mir ist persönlich nichts aufgefallen. Kann also gerne übersetzt werden. Haben wir sonst noch was?

[2019-01-16 13:57] dofeldsc commented on #10
mhm muss ich mir anschauen, das ist einfach alphabetisch sortiert und immer der erste Eintrag wird anfangs ausgewählt aber mal sehen

[2019-01-16 14:00] dofeldsc commented on #5
Ist beides in deutsch und englisch eingebaut. Die Symbole der Links habe ich auch eingefügt. Du kannst ja mal schauen ob das so passt und Bescheid sagen wenn du deine Änderungen vorgenommen hast.

Dann baue ich danach nochmal neu und dann sollte das passen.

[2019-01-16 16:43] sonschul commented on #5
Hmmm... Hab den Cache geleert, aber sehe noch keine Symbole in der DE und dem Impressum...
Bin ich auf der richtigen Maschine? virtuos / vivouos?

[2019-01-16 17:04] sonschul commented on #5
Hat sich erledigt! Hab gesehen, dass du das jetzt schon aufs Live-System übertragen hast.

[2019-01-16 17:32] sonschul commented on #33
- Auf der Personen-Seite folgenden Text:
"Derzeit sind zum 31.12.2017 an der Universität Osnabrück beschäftigte Mitglieder der Hochschullehrergruppe mit jeweiligem Status im System abgebildet. Abgebildet sind zudem zum Stichtag beschäftigte wissenschaftliche Mitarbeiterinnen und Mitarbeiter, sofern diese an in den Jahren 2015 und 2016 abgeschlossenen drittmittelfinanzierten Projekten beteiligt war

[2019-01-16 17:34] sonschul commented on #33
@MarcoSeegers : bitte die Texte quer lesen, vor allem hinsichtlich der Datums-Angaben, ob alles korrekt ist.
@manschwa : bitte warten bis Marco die Texte freigegeben hat.

[2019-01-17 09:18] ghost commented on #33
Habe paar Sachen angepasst und kann jetzt so eingebunden werden @manschwa .

Personen:
"Derzeit sind zum 31.12.2017 an der Universität Osnabrück beschäftigte Professorinnen und Professoren mit jeweiligem Status im System abgebildet. Abgebildet sind zudem zum Stichtag beschäftigte wissenschaftliche Mitarbeiterinnen und Mitarbeiter, sofern diese an in den Jahren 2015 und 2016 abgeschlossenen drittmi

[2019-01-17 14:26] dofeldsc opened #34 "Bereinigung Vitro -> alte Sprachdateien (custom installer?)"
Die Sprachdateien werden seit ein paar Monaten über eine Abhängigkeit der Projekte (pom.xml) untereinander eingebunden und dann beim deployen in den Tomcat hinzugefügt.
Vorher wurden einige Dateien direkt in das Vitro-Repo kopiert, damit diese auch wirklich jedes Mal neu geladen werden.

Die Sprachdateien sollten auf dem Vitro-Repo entfernt werden und ggf. ein "custom installer" konfiguriert werde

[2019-01-18 08:40] dofeldsc commented on #33
Ich habe es jetzt mal eingebaut. Auch diese Texte sollten dann demnächst ins Englische übersetzt werden damit wir die nachtragen können. Zur Übersicht wäre ein extra Ticket bestimmt nicht verkehrt.

[2019-01-21 12:03] sonschul opened #35 "menu page ordering"
Leider funktioniert die Menüsortierung über den Site Admin nicht, daher meine Bitte, die Seiten wie folgt anzuordnen:

Home | Leitlinien | Drittmittelfinanzierte Projekte | Forschungsergebnisse

Die Seiten habe ich auf der virtuos / vivouos Instanz angelegt.

[2019-01-21 12:47] sonschul opened #36 "infotext der search field box auf startseite ändern"
Da wir keinen Anspruch darauf erheben alle Prof. abzubilden, würde ich vorschlagen den Text in der Suchbox (Startseite - oben rechts) zu ändern:

`<input id="search-field-box" type="text" class="form-control" name="querytext" value="" placeholder="Durchsuchen Sie die Projekte" autocapitalize="off">`

[2019-01-21 12:52] sonschul opened #37 "Suchformular mit drop down Auswahlliste entfernen"
Da das Suchformular noch die Fehler in der Übersetzungen enthält und auf die Personensuche verzichtet werden soll, würde ich vorschlagen es ganz rauszunehmen.

![image](https://user-images.githubusercontent.com/40201793/51475640-4c53ea80-1d83-11e9-82e2-6982b0bc89a4.png)

[2019-01-21 12:54] sonschul commented on #37
Der zweite absatz im "grauen textblock" muss entfernt und der text hinsichtlich der nutzung des systems nur zum ausweis der drittmittel-projekte deutlicher werden.

[2019-01-21 12:58] sonschul opened #38 "counter ersetzen durch zufällige auswahl von projekten statt fb könnten forschungsergebnisse ausw"
forschung soll auswahl der forschungsprojekte enthalten,
statt fb soll zufällige forschungsergebnisse angezeigt werden.  (statt counter)

![image](https://user-images.githubusercontent.com/40201793/51475944-33980480-1d84-11e9-8204-c6af682df4ad.png)

[2019-01-21 15:50] dofeldsc commented on #36
Aber es werden ja trotzdem alle Dinge durchsucht die im System sind also auch Personen...da passt "Durchsuchen Sie die Projekte" ja auch nicht wirklich oder?

Nett das du das html mitschickst aber das läuft dann über die Sprachdateien. Das sieht so aus
<input id="search-field-box" type="text" class="form-control" name="querytext" value="${querytext!}" placeholder='${i18n().find_expert}' autocapita

[2019-01-21 16:45] sonschul commented on #36
Das ist richtig, aber wir können es ja nicht mehr als Expertensuche verkaufen, wenn es gar nicht alle Professoren enthält. Daher wäre mir der andere Hilfetext lieber, auch wenn alle Inhalte durchsucht werden. Z.B. im Senat würde ich dann auch nicht mehr die "Liste aller Stiftungsprofessoren" zeigen wollen.

Das war der HTML Code aus der Chrome DevTools Ansicht... Hatte keine Ahnung, wo ich das son

[2019-01-23 09:55] sonschul opened #39 "new class "ehemalige professoren" + new class "ehemalige mitarbeiter""
Vorschlag:
![image](https://user-images.githubusercontent.com/40201793/51598236-5e599880-1efd-11e9-86c5-d74a2e73c2c6.png)

[2019-01-23 10:24] ghost commented on #33
Die neuen Infotexte für das Mini-Mini-VIVO:

Personen:
"Derzeit abgebildet sind Professorinnen und Professoren und wissenschaftliche Mitarbeiterinnen und Mitarbeiter, sofern diese an in den Jahren 2015 und 2016 abgeschlossenen drittmittelfinanzierten Projekten beteiligt waren. Zudem werden jene Projektverantwortliche, die am 31.12.2017 nicht mehr an der Universität beschäftigt waren, aber für zum

[2019-01-23 10:43] dofeldsc commented on #39
Okay, so wie du das angelegt hast wären die dann alle auch von den Klassen:
- Person
- Beschäftigte/Beschäftigter
- Wissenschaftliches und künstlerisches Personal
- ehemaliger Professor
Ist das so gewünscht? Dann kann ich die beiden gleich eben kurz einfügen. Sonst irgendwelche bestimmten Merkmale oder Sichtbarkeiten?

[2019-01-23 10:50] sonschul commented on #39
Person (foaf) müsste reichen...

Im VIVO core ist das für die Faculty Member Emeritus und Professor Emeritus (vivo) so umgesetzt worden.

Also in der Hierarchie so:
Person (foaf)
--> Ehemalige Mitarbeiter
--> Ehemalige Professoren

Passt das?

[2019-01-23 11:02] dofeldsc commented on #39
Jo so war auch meine erste Idee, dann kann man später besser unterscheiden wer noch da ist und wer nicht. Ich baue die beiden Klassen dann in die UOS-Ontologie ein.

[2019-01-23 11:22] sonschul opened #40 "ppl positions hinzufügen bei ehemaligen mitarbeitern / professoren"
MEMO an mich selbst:

A spreadsheet of people’s positions in the organization will look like this:

![image](https://user-images.githubusercontent.com/40201793/51603236-1b99bf80-1f01-11e9-99a3-5951ea98bf30.png)

As one can notice in this spreadsheet we use the UID of the person and the org_ID of the organizational unit to connect the person with that unit and create the RDF statement containing in

[2019-01-23 13:24] dofeldsc commented on #39
Wie sollen die Klassen denn auf deutsch heißen? Mein Vorschlag wäre einfach
- former employees
- former professors
Oder was soll ich als englisches Label nehmen?

[2019-01-23 15:53] dofeldsc commented on #39
Ich habe es mal zum Testen in "https://fis.virtuos.uni-osnabrueck.de/vivouos/" und ".../vivotest" eingebaut, du kannst ja mal schauen ob das so passt.
Ich habe anstatt foaf:Person die kdsf:Person als Oberklasse genommen. Das sollte an sich keinen Unterschied machen aber ich denke wir orientieren uns ja eh mehr an den kdsf-Sachen.

Was mir aufgefallen ist:
- im Label wird eigentlich immer die Einza

[2019-01-24 10:40] dofeldsc commented on #39
Wie gerade besprochen:
-> Jetzt nur noch eine Klasse mit den Labels:
- ehemalige Beschäftigte
- former employees

[2019-01-24 10:53] sonschul opened #41 "css style links am corporate design der uni orientieren"
bitte den style für die links entsprechend der uni seite (corporate design) übernehmen.

bsp:
https://fis.virtuos.uni-osnabrueck.de/vivouos/leitlinien
dort fallen die links zu den externen seiten kaum auf.

oder lieber #2 wieder eröffnen?

[2019-01-24 10:55] sonschul commented on #41
hier noch mal der vergleichslink auf den uni-seiten:
https://www.uni-osnabrueck.de/universitaet/zahlendatenfakten/transparenz_der_forschungforschungsethik.html

[2019-01-24 11:12] sonschul opened #42 "Mittelgeber-Seite (z.B. DFG) leer / Ohne zugeordnete Projekte"
Kann bei gelegenheit noch jemand schauen, warum die seite der mittelgeber keine liste der zugeordneten projekte enthält?
siehe:
https://fis.uni-osnabrueck.de/vivouos/individual?uri=http%3A%2F%2Flod.tib.eu%2Fonto%2Fkdsf%2FDFG

falls fehler schon bekannt ist, dann bitte löschen!

[2019-01-24 11:13] sonschul commented on #42
dieses projekt sollte beispielweise auftauchen:
https://fis.uni-osnabrueck.de/vivouos/display/project73c95c9d31951eaf52496aeaa47acf53

[2019-01-24 11:52] dofeldsc commented on #42
Der "Fehler" war das die Property "hatMittelgeber" nicht als symmetrisch eingetragen war, also immer nur in eine Richtung sichtbar war.

Ich ändere das dann in der KDSF-Ontologie und das kommt mit dem nächsten Update in System. (in fis.uos.de/vivouos) habe ich es gerade aus Testzwecken schon in der Oberfläche gemacht.

[2019-01-24 12:14] #42 closed, assigned to nobody

[2019-01-24 12:15] sonschul opened #43 "Sammelticket: Übersetzungsfehler"
- [ ] Zeitlicher Graph Link: https://fis.uni-osnabrueck.de/vivouos/vis/publication-graph/fb03
- [ ] Academic Department  Link: https://fis.uni-osnabrueck.de/vivouos/display/fb03

[2019-01-24 12:16] dofeldsc commented on #41
als info, ich habe das css dafür letzte Woche schon eingebaut  (https://github.com/FISvirtUOS/VIVO/blob/theme-uos/webapp/src/main/webapp/themes/tenderfoot_uos/css/tenderfoot.css).
Man kann also einfach die Klasse "uos_style" benutzen.

[2019-01-24 12:17] sonschul opened #44 "hinweistext im koautorInnen-netzwerk anpassen"
bitte in der gelben textbox den folgenden text streichen:

"Loggen Sie sich ein, um auf Ihrer Profilseite zusätzliche Angaben zu Ihren Publikationen zu machen."

[2019-01-24 12:17] #39 closed, assigned to dofeldsc

[2019-01-24 12:49] sonschul opened #45 "feedbackForm anpassen"
So wie in dieser Vorlage nur ohne Ort und ohne Telefon hätte ich es gerne:

![image](https://user-images.githubusercontent.com/40201793/51679232-a56b8a80-1fde-11e9-9210-73bf8f26ed44.png)

Quelle: [Link](https://www.kontaktformular.com/kontaktformular-mit-dsgvo-eu-datenschutz-grundverordnung-fuer-ihre-website.html)

[2019-01-24 12:57] sonschul commented on #43
siehe projects
https://github.com/orgs/FISvirtUOS/projects/6

[2019-01-24 12:57] #43 closed, assigned to nobody

[2019-01-24 13:04] sonschul opened #46 "menü skaliert nicht richtig"
![image](https://user-images.githubusercontent.com/40201793/51679949-a2719980-1fe0-11e9-9aa2-29a90e1b99fd.png)

sobald das menü auf den burger icon wechselt, ist die anzeige der menüpunkte nicht mehr optimal.
(überlappung mit der suchleiste, volle breite, ...)

[2019-01-24 13:25] dofeldsc commented on #46
Ist bei mir nicht so, in welchem Browser und in welchem Vivo-System machst du das denn?
Sowas am besten immer direkt mit angeben.

[2019-01-25 07:16] sonschul commented on #46
https://fis.uni-osnabrueck.de/vivouos/
mit Google Chrome
gerade noch mal getestet.

[2019-01-25 07:17] sonschul commented on #41
muss ich mich darum im html code (leitlinien) schon kümmern oder macht @manschwa das?

[2019-01-30 07:52] sonschul opened #47 "Auflistung von Projekten auf Fach-Seite"
Bitte schauen, ob es möglich ist, dass die Projekte der Fächer auch auf den Fach-Übersichtsseiten auftauchen:

Beispiel Kognitionswissenschaft
https://fis.uni-osnabrueck.de/vivouos/display/field25

Hier müssten mehr Properties (Personen / Projekt - Zuordnung) aufgeführt werden.

siehe Ticket #42

[2019-01-31 14:41] dofeldsc commented on #47
Ich habe eine gute Lösung gefunden. Beim Fach würde ich dann für jede Klasse eine eigene property einrichten, welche die jeweiligen Verknüpfungen zu einer Klasse anzeigt. Zusätzlich muss es eine Property geben, welche alle Verbindungen von einem der vier Klasse zum Fach auflistet, die habe ich aber erst ab Admin freigeschaltet also sieht die niemand (kann man theoretisch auch ganz unsichtbar mache

[2019-01-31 14:44] sonschul commented on #47
Nur noch mal zur Sicherheit:
Die Labels tauchen nur auf der Seite vom Fach auf, richtig?

[2019-01-31 14:49] dofeldsc commented on #47
genau, ein Label für jede Klasse und ihre ganzen Unterklassen und eins für die Parent-Property, die aber nur Admins sehen.

[2019-01-31 14:49] sonschul commented on #47
Sowas wie:
- Fachvertreter*in
- Fachbezogene Drittmittelprojekte
- Fachbezogene Publikationen
- Assoziierte Promotionsprogramme

[2019-01-31 14:57] dofeldsc commented on #47
Dann noch die letzte also die die alles zusammenfasst
- "Fachzugehörigkeit?" sieht ja eh keiner

und dann noch die englischen Labels

[2019-01-31 15:47] dofeldsc commented on #44
Es gab auch noch einen Text "Loggen Sie sich ein, um auf Ihrer Profilseite zusätzliche Angaben zu Ihren Forschungsprojekten zu machen.", die habe ich auch mal entfernt wenn das okay ist? Falls nicht, Ticket wieder öffnen und Bescheid geben.

Ich pushe das gleich aber auf den Servern baue ich das dann morgen mit den anderen Änderung ein.

[2019-01-31 15:49] #44 closed, assigned to dofeldsc

[2019-01-31 15:55] dofeldsc commented on #35
Jo das ist ein bekannter Bug der auch schon gefixt wurde: https://jira.duraspace.org/browse/VIVO-1613?src=confmacro

Ich muss mal schauen wann ich die aktuellen Änderungen der Community mal wieder einspiele und ob das überhaupt schon für die 1.10 als Hotfix verfügbar ist. Das hat ja noch Zeit bis wir das "Mini-Mini-Vivo" veröffentlichen oder?

[2019-01-31 15:57] dofeldsc commented on #36
Ich frage um sicher zu gehen. Da soll jetzt im deutschen "Durchsuchen Sie die Projekte" und im englischen "Search" stehen?

[2019-01-31 16:03] dofeldsc opened #48 "Git aufräumen: Projekte und Milestones erstellen/aufräumen"
Wir sollten jetzt anfangen zwei Versionen unserer Standes zu pflegen. Ich sehe gerade viele Tickets die nur für das "Mini-Mini-Vivo" relevant sind und dessen Änderungen wir später im richtigen FIS nicht haben wollen.

Ich werde deshalb ein extra Projekt "Mini-Mini-Vivo" erstellen, welches dann bitte auch immer den entsprechenden Tickets zugeordnet wird. Zusätzlich zieh ich noch ein paar Dinge nach

[2019-01-31 16:11] #5 closed, assigned to dofeldsc

[2019-01-31 16:12] #6 closed, assigned to nobody

[2019-01-31 16:17] dofeldsc commented on #33
Ist das jetzt schon der neue Text für das "Mini-Mini-Vivo"? Falls ja, baue ich den gerne ein. Wie ist der Stand der englischen Übersetzungen?

[2019-01-31 16:28] ghost commented on #33
Es war der aktuelle Stand bis heute :laughing:
Muss den nochmal überarbeiten, poste den dann aber auch wieder hier.

[2019-01-31 16:36] dofeldsc commented on #33
alles klar, dann warte ich mit dem einbauen :)

[2019-02-01 07:34] sonschul commented on #36
Jep!

[2019-02-01 07:41] sonschul commented on #47
Ich fürchte, dass es keine so genauen Übersetzungen im Englischen für Fachvertreter und Fachzugehörigkeit gibt.
Kannst du mir mal ein Screenshot von der jetztigen Ansicht aus deinem lokalen Testsystem schicken?
Nur, damit ich mal sehe an welchen Stellen das auftaucht.
Wenn das so verschachtelt ist wie bei der "offers" Ansicht, dann könnte man vielleicht auf erster Ebene
"Field of Research"
und dar

[2019-02-01 07:48] sonschul commented on #48
Wenn wir das nicht Mini-Mini-Vivo nennen, dann gerne! ;-)

[2019-02-01 08:47] dofeldsc commented on #47
![vivo_hatfach](https://user-images.githubusercontent.com/9248706/52112304-61900b00-2606-11e9-88e8-642e3bfd1e93.png)
Ne so nicht, sondern jede Klasse hat eine eigene Property

[2019-02-01 09:20] dofeldsc commented on #48
Ich bin für Gegenvorschläge offen :)

[2019-02-01 09:34] sonschul commented on #47
Ok!
Hat das Auswirkungen auf die Datenlieferungen? (Struktur der Excel-Tabellen, die wir liefern sollen)

[2019-02-01 09:36] dofeldsc commented on #47
Nein, das ist ja das schöne an der Lösung :)
Ist das so denn gut?

[2019-02-01 09:42] sonschul commented on #47
Wenn die Publikationen auch in dem Format angezeigt werden, dann ja!

Noch ein Gedanke dazu, aber nur als Randbemerkung:
Ich bin mir nicht sicher, ob durch das anbinden der Fächersystematik von DESTATIS mit der Lösung von tatiana (als kontrolliertes Vokabular) die Fachzurodnung nachher nicht doppelt ist.
Vorteil deiner Lösung ist die Freiheit bei der Benennung der Fächer (uni-eigene Namen), bei DE

[2019-02-01 09:53] dofeldsc commented on #47
"Meiner Lösung", das "hatFach" kommt aus der KDSF-Ontology und dazu habe ich eine Inverse Property hinzugepackt die einfach nur bei den unterschiedlichen Klassen anders aussieht.
Wenn ihr die Standardnamen anliefert dann kann man die entweder zusätzlich hinterlegen oder auch direkt verwenden.
Ich nehme jetzt als englische Labels einfach:
- Person
- field-related publications
- field-related projec

[2019-02-01 09:56] sonschul commented on #48
Mir ist auch noch nichts besseres eingefallen...

- TIF-VIVO (für Transparenz in der Forschung)
- PublicVIVO
- TransparenzVIVO
- MiniVIVO (das andere heißt dann einfach VIVO@UOS)

[2019-02-01 10:02] dofeldsc commented on #48
Alles klar, dann nehme ich mal "MiniVIVO" und die branches sind dann immer "minivivo". Ich setze dazu dann auch bald mal eine Instanz auf damit man die aktuellen Änderungen auch sieht.

[2019-02-01 10:07] dofeldsc commented on #36
Ist im branch "minivivo" eingebaut, davon gibt es aber gerade noch keine laufende Instanz

[2019-02-01 10:24] #36 closed, assigned to dofeldsc

[2019-02-01 12:52] #47 closed, assigned to dofeldsc

[2019-02-01 13:34] #29 closed, assigned to sonschul

[2019-02-13 08:24] dofeldsc commented on #32
Ist noch nicht fertig, wir warten auf das Go von Sonja.
- Nur in deutsch verfügbar und wird auch wohl nicht in englisch verfügbar sein
- kann man schon mal ausprobieren

[2019-02-13 12:56] dofeldsc commented on #10
Die Vorauszahl zu ändern lässt sich nicht einfach so machen aber ich kann die Reihenfolge ändern und dann stehen die Professoren immer an erster Stelle. Das geht über den "DisplayRank" der jeweiligen Klassen (alle kdsf-alignment).
Falls es keine Instanz der Klasse im System gibt, wird die Klasse natürlich auch nicht in der Liste angezeigt.

1 Prof
2 Juniorprof
3 Seniorprof
4 Stiftungsprof
5 Außerp

[2019-02-13 14:07] dofeldsc commented on #10
Ich habe es mal hier eingebaut: https://fis.uni-osnabrueck.de/vivouos/people
Wenn das jemand möchte, können auch die Reihenfolgen auf den anderen Seiten angepasst werden

[2019-02-13 15:30] sonschul commented on #10
Find ich gut so! Kann auf jeden Fall übernommen werden.

[2019-02-14 09:43] #10 closed, assigned to dofeldsc

[2019-02-14 10:26] dofeldsc commented on #34
Überflüssige Sprachdateien wurden aus Vitro/VIVO entfernt.
Für das Problem firsttime / everytime habe ich einen "workaround" gefunden aber zufriedenstellende Lösung steht aus.
"custom installer" erstmal nur durch Abhängigkeiten in den pom.xml...Maven install-deploy-Script für Sprachen und Vitro/VIVO steht noch aus (in anderem Ticket).

[2019-02-14 10:26] #34 closed, assigned to dofeldsc

[2019-02-25 07:34] sonschul opened #49 "template Personen Profil anpassen"
Solange noch nicht für alle Forscher Informationen zur Forschungsleistungen hinterlegt sind, sollen nur die Kontaktdaten in der grauen Box, nicht aber die Reiter "Affiliation", "Research", etc. sichtbar sein.
(alles unter der grauen Box kann weg)

Bitte das Template so anpassen, dass folgende Informationen in der grau-hinterlegten Box erscheinen:

[Titel] [Nachname] [Zusatz] , [Vorname]
[Bezeichnu

[2019-02-25 07:56] sonschul commented on #8
Falls sich die deutschen Übersetzungen nicht einblenden lassen, bitte die "Zeige nur" Box entfernen.

Unter der dem searchResultsHeader bitte den Infotext hinzufügen:
"Derzeit werden nur Inhalte angezeigt, die im Rahmen der [Leitlinien zur Transparenz in der Forschung] veröffentlicht werden sollen."  und auf die Seite der Leitlinien verlinken: siehe #35

[2019-02-25 11:40] sonschul commented on #49
![nachher-profil](https://user-images.githubusercontent.com/40201793/53334947-7c4e5a80-38fa-11e9-993a-dde9a7774d03.png)

[2019-02-26 07:25] sonschul opened #50 "template Startseite ändern"
![image](https://user-images.githubusercontent.com/40201793/53394628-1d432100-39a0-11e9-9d02-6177a14a2dff.png)

Subtickets:
- [x] https://github.com/FISvirtUOS/uos_fis_doku/issues/2
- [x] https://github.com/FISvirtUOS/uos_fis_doku/issues/3

[2019-02-26 07:27] sonschul commented on #50
Wo war eigentlich noch gleich das Kontaktformular verlinkt?

[2019-02-26 13:47] sonschul commented on #49
Der Entwurf hat grundsätzlich Frau Menzels Zustimmung gefunden.
Es soll jedoch noch ein weiteres Feld für die Angabe einer URL zu einem externen Profil ergänzt werden.
Am besten unter der E-Mail, oder?

[2019-02-26 13:53] sonschul commented on #50
Layout in der oben stehenden Form findet Zustimmung und kann so umgesetzt werden.

[2019-02-28 10:23] dofeldsc commented on #49
"Forschungsgebiete" zu "Forschungsschwerpunkte" umbenennen (auch englisches Label über i18n hinzufügen)
Die zusätzlichen Mails (auch unter Kontaktinformationen) mit in den grauen Kasten. Rechts unter die Mail

[2019-03-01 07:48] #49 closed, assigned to nobody

[2019-03-04 15:26] dofeldsc commented on #45
An sich fehlte beim Standardformular in Vivo nur der Betreff, den habe ich hinzugefügt. Passt dir das so oder wolltest du auch den Style angepasst haben?

[2019-03-04 15:38] dofeldsc commented on #50
Gibt es den Text in der grauen Box eigentlich schon irgendwo?

[2019-03-04 19:13] sonschul commented on #50
So wie im Screenshot, der Inhalt liegt im Textformat vor, kann ich dir morgen per Mail/Slack schicken.
Leider funktioniert der Zugriff von zu Hause gerade nicht...

[2019-03-04 19:31] sonschul commented on #45
Bitte noch die folgenden Style / Content - Anpassungen:
1.) Header statt "VIVO Feedback Form" in DE "Kontaktformular" und in EN "Feedback Form"
(Anmerkung: VIVO soll möglichst nur noch im Logo stehen.)
2.) Statt "Vollständiger Name" nur "Name"
3.) Statt "E-Mail-Adresse" nur "E-Mail"
4.) Text im Button ändern von "Mail senden" zu "Senden"
5.) Alle Textfelder gleich groß und etwas größer als im jetz

[2019-03-05 08:25] dofeldsc commented on #50
Danke.
Die 6 Profillinien auf der Startseite sollen auch entfernt werden?

[2019-03-06 06:55] sonschul commented on #50
Ja, genau. Die sollen vorläufig raus, weil nicht genug Inhalt eingepflegt ist.

[2019-03-08 12:47] sonschul opened #51 "Forscher-Rollen in Drittmittelprojekten (Projektverantwortliche)"
Ich hätte noch eine Frage zur Rolle eines Mitarbeiters in einem Drittmittelprojekt...

Wenn ich das richtig sehe und verstanden habe, dann werden die Rollen über ein Label zugewiesen (entweder ""Mitarbeiter/in" oder "Projektverantwortliche/r") und neben dem Mitarbeiter-Namen (auf den Projektseiten) angezeigt.
Wäre es nicht eventuell ein besserer Ansatz die Rollen über die vivo Klassen "Leader Role

[2019-03-08 12:48] sonschul commented on #51
`SELECT DISTINCT ?pteilnehmer ?rolle
WHERE {?projekte obo:BFO_0000055 ?pteilnehmer.
			?pteilnehmer rdfs:label ?rolle}`

[2019-03-08 13:42] dofeldsc commented on #51
Sowas kannst du mich glaube ich immer besser so fragen, ist schwer das aufzuschreiben...
Also nein, das hast du falsch verstanden. Die Rollen werden jetzt gerade jeweils über ein Rollenobjekt abgebildet, welche für jede "Teilnahme" an einem Projekt das Projekt mit der Person verbindet (symmetrisch).
Eine Unterklasse dieser Rollenklasse ist die "Leader Role" und die "Researcher Role".

Die kann man

[2019-03-12 06:12] sonschul commented on #51
Ok!
Wie würde denn eine SPARQL Abfrage aussehen, die nur die Projektverantwortlichen ausweist?

[2019-03-12 08:48] dofeldsc commented on #51
Man muss abfragen ob das label der Rolle gleich Projektverantwortliche/r ist also nur um alle Projektverantwortlichen im System zu finden reicht folgende Abfrage:

SELECT DISTINCT ?label
WHERE
{
      ?person a kdsf:Professoren .
  	  ?person rdfs:label ?label .
  	  ?person obo:RO_0000053 ?role .
  	  ?role rdfs:label "Projektverantwortliche/r"
}

Der Unterschied zu deiner vorgeschlagenen Lösung

[2019-03-14 13:14] dofeldsc opened #52 "Anzeige der AutorInnen im Drittmittelprojekt"
Es soll eine Möglichkeit gefunden werden die nicht zur Uni gehörenden "externen" AutorInnen von Publikationen oder generell Projektergebnissen darzustellen.

Zwei Möglichkeiten wären:
- Das Template für die Anzeige dieser Personengruppe in ähnlicher Weise zu der öffentlichen Ansicht von Professoren abzuändern. Dann würde nur der Name und ggf. ein Foto oder ähnliches angezeigt
- - Das würde einem d

[2019-03-14 16:00] sonschul commented on #52
Hier ein Beispiel von der TIB:
https://vivo.tib.eu/fis/individual?uri=https%3A%2F%2Fdoi.org%2F10.1007%2F978-3-319-56608-5_15

Dort ist die Person "Phan-Vogtmann, Lo An" nicht verlinkt zu einem Profil, aber über die globale Suche trotzdem aufzufinden. So fände ich das auch am besten. Falls das für das erste Release zu viel Aufwand ist, kann ich auch mit größtenteils leeren Profilen leben.

[2019-03-15 08:16] dofeldsc commented on #52
Ja so hätte ich das auch gemacht aber wenn die das schon haben, kann man ja gucken ob wir das verwenden können :+1:

[2019-03-18 08:43] sonschul opened #53 "Datentyp Bewilliungssumme ändern für Auswertungszwecke"
Für Auswertungszwecke (mit SPARQL) eignet sich der Datentyp "string" nur bedingt, war jedoch bislang erforderlich, weil für die Darstellung der Bewilligungssumme ein € - Zeichen gewünscht ist.
Es soll ein alternativer Lösungsweg gesucht werden, der Zahl + € - Zeichen kombiniert.

[2019-03-18 08:44] dofeldsc commented on #53
Eine "hässliche" Lösung wäre die SPARQL-Abfrage mit einer Konvertierung der Bewilligungssumme:
SELECT  (SUM(xsd:decimal(?summenclean)) AS ?DFGSumme)
WHERE {?project a kdsf:Drittmittelprojekt .
            ?project kdsf:hatMittelgeber ?mittelgeber .
            ?project kdsf:Bewilligungssumme ?bewillsumme .
         BIND((REPLACE(?bewillsumme, " € ", "")) as ?summe) .
 BIND((REPLACE(?summe, " ", ""

[2019-03-18 10:29] sonschul commented on #53
Vielleicht sollten wir die SPARQL Abfragen schon mal irgendwo sammeln.
Hab noch ne Kleinigkeit im SELECT-Teil geändert.

[2019-04-01 09:14] dofeldsc commented on #53
Das bleibt erst einmal so.
Man könnte den Typ zu float oder Int ändern aber dann wären in Vivo keine Trennzeichen erlaubt. Wenn man die nicht über die ABfrage filtern will dann musste man sie in der Anzeige hinzufügen. Dafür müssten auch die Listen angepasst werden und das Karmamodell geändert werden.

Kann man machen falls es mal notwendig werden sollte, aber auch nur da. (so mit Projektteam abge

[2019-04-01 09:14] #53 closed, assigned to nobody

[2019-04-02 11:53] dofeldsc commented on #52
Das gewünschte Verhalten lässt sich dadurch abbilden, dass man die gewünschten Personen nur als "Identity VCard" mit einer VCard "Name" initialisiert.
Dafür müssen die Modelle der folgenden Listen angepasst werden:

- [ ] Co-Autoren -> Spalte "Wissenschaftliches-kuenstlerischesPersonalURI/Klasse" wird in dem Fall mit "Person" belegt sein
- [ ] Publikation_Person -> neue Spalte, in der steht "in Pe

[2019-04-03 12:52] sonschul commented on #50
Anbei der Text für die Startseite:

„Über diese Seiten erhalten Sie in Umsetzung der landesseitigen Leitlinien „Transparenz in der Forschung“ wesentliche  Informationen über jeweils  zum 1.12. eines Jahres - 2015 beginnend  - drittmittelgeförderte Forschungsprojekte an der Universität Osnabrück.

Ihre Recherche wird auf der einen Seite durch die ausgewiesene Auflistung der Drittmittelprojekte  bzw

[2019-04-04 08:57] dofeldsc commented on #41
Ich habe den Text mit gewünschtem Style in die Quelldateien übernommen aber dabei ist mir aufgefallen das ein paar Links ins nichts führen.

- Etablierung eines Forschungsinformationssystems
- Wissensforum
- Universitätsreden

Sind das Seiten die noch in Vivo angelegt werden sollten?

[2019-04-04 09:06] dofeldsc commented on #50
Als englischen Text habe ich jetzt erst einmal die Ausgabe der DeepL-API genommen:
"On these pages, you will find essential information on research projects at the University of Osnabrück funded by third parties, each starting on 1 December of a year - 2015 - in implementation of the regional guidelines „Transparency in Research.

Your research is supported on the one hand by the list of third-par

[2019-04-08 11:47] sonschul commented on #41
Waren das nicht Links, die auf die Uni-Seite (extern) verlinken und nicht auf das VIVO ?

[2019-04-08 14:14] dofeldsc commented on #41
<a href="/veranstaltungen/zentrale_veranstaltungen/osnabruecker_universitaetsreden.html" target="de/presse_oeffentlichkeit/veranstaltungen/osnabruecker_">Universitätsreden</a>

Das weiß bzw wusste ich nicht aber die Links funktionieren so auf jeden Fall nicht.
Ich habe die jetzt mal angepasst aber noch nicht auf dem Server neu gebaut, also nicht wundern

[2019-04-08 14:14] #41 closed, assigned to nobody

[2019-04-09 08:15] #35 closed, assigned to dofeldsc

[2019-04-09 08:17] dofeldsc commented on #7
Da wir jetzt erst einmal mit der "nicht angemeldeten Ansicht" arbeiten hat sich dieses Ticket erledigt.

Über Anpassungen an dieser Sicht kann man dann später wieder nachdenken.

[2019-04-09 08:17] #7 closed, assigned to manschwa

[2019-04-09 08:59] #46 closed, assigned to nobody

[2019-04-09 14:45] dofeldsc commented on #23
Fehler gelöst, das war ein Problem mit einer Funktionalität des D3.js Frameworks.

[2019-04-09 14:45] #23 closed, assigned to nobody

[2019-05-03 11:55] dofeldsc commented on #50
Der Titel passt noch nicht

[2019-05-03 13:22] dofeldsc commented on #50
Alles erledigt, wird aktualisiert sobald ich nächste Woche (KW 19) die neue Instanz aufsetze

[2019-05-03 13:23] dofeldsc commented on #52
getestet und so in den aktuellen Karmamodellen mit Hilfe von Sonja umgesetzt

[2019-05-03 13:23] #52 closed, assigned to dofeldsc, sonschul

[2019-05-03 13:24] dofeldsc commented on #40
Das betrifft die aktuellen Datenlieferung noch nicht oder?

[2019-05-03 13:27] dofeldsc commented on #33
Zur Zeit haben wir ja nur noch die drei Seiten "Leitlinien", "Drittmittelfinanzierte Projekte" und "Forschungsergebnisse" (noch nicht im Produktivsystem).
Sollen die Texte noch aktualisiert werden bevor das nächste Woche präsentiert wird?

[2019-05-03 13:31] dofeldsc commented on #27
Wenn man mal unter 400px Breite geht dabei das Suchtfeld kaputt aber zum Beispiel auf den Projektübersicht bricht der Text nicht um...Das Menu sieht bei mir gut aus aber ich schau mir das die nächste Woche mal an

[2019-05-03 14:26] sonschul commented on #33
Mein Vorschlag wäre die Hilfetexte auf der Übersichtsseite zu den "Leitlinien" zusammenzufassen und auf den Seiten "Drittmittelfinanzierte Projekte" und "Forschungsergebnisse" nur noch unter der Überschrift einen Link zu der Leitlinien-Seite einzublenden statt so viel Text.

[2019-05-03 14:29] sonschul commented on #40
Nein, das ist in der aktuellen Lieferung zu den Personen noch nicht enthalten.
Wir hatten überlegt die Rufe bzw. Wechsel z.B. von W1 zu W2 als Positions einzupflegen. Diese Tabelle gibt es aber nicht nicht.

[2019-05-08 15:48] dofeldsc commented on #8
Habs gefixt (https://github.com/FISvirtUOS/Vitro/commit/a95a4ab05f4861ef26d8e7d7cfbc55722703a2a1) aber mal schauen was die Community dazu sagt. Habe das mal im i18n Channel angesprochen aber noch keine Rückmeldung bekommen.
Vielleicht haben die auch eine bessere Idee

[2019-05-10 09:59] sonschul opened #54 "Filtermöglichkeiten in Suchergebnis-Ansicht"
Als Einschränkung der Suchergebnisse in der rechten Box sollte andere Filtermöglichkeiten angezeigt werden:
Bei "Forschung" sind "Publikationen" gemeint
Bei "Aktivitäten" sind  "Projekte" gemeint

Wenn dann ein Filter angewandt wird, erscheinen Klassen (aus den unterschiedlichen Ontologien vivo / kdsf ) wieder doppelt z.B. bei Publikationsart: "Artikel" oder "Person".

In der Box sollte der Text z

[2019-05-10 10:05] sonschul commented on #54
![image](https://user-images.githubusercontent.com/40201793/57519513-c355c480-731b-11e9-9987-b37ff0972268.png)

Unklar, wann Inhalte der Seite als "Untertitel" in grau unter dem Publikationstitel angezeigt werden, und wann nicht...

[2019-05-10 12:38] dofeldsc commented on #54
- Den Text ändere ich bei Gelegenheit
- Wollen wir die Klassengruppen ändern? Dann sollten wir mal schauen welche Klassen da für uns in Frage kommen
- Bei doppelten Klassen kdsf <-> vivo muss ich mal reinschauen, ich fürchte die müsste man Stück für Stück entfernen (das sollte aber durch die geplanten Änderungen von Tatiana im KDSF erledigt werden)

[2019-05-13 12:02] sonschul opened #55 "Shortview projects mit Jahr und TeilnehmerIn"
Um gleichnamige Projekttitel differenzieren zu können, soll in der Shortview der Projekte zusätzlich das Jahr (Startjahr und ggf. Endjahr) + TeilnehmerIn unter dem Projekttitel erscheinen.

![image](https://user-images.githubusercontent.com/40201793/57619946-9dccf300-7587-11e9-91d9-f421cf84ae91.png)
Bsp. vom Forschungskompass

[2019-05-13 15:54] sonschul commented on #54
Wirkt sich die Bezeichnung der Klassengruppen denn tatsächlich nur auf die Such-Ergebnis-Filter aus?
Oder wird das sonst noch irgendwo verwendet?
Wenn es tatsächlich nur Einfluss auf die Suche hat, dann würde ich die Bezeichnung wie oben vorgeschlagen ändern wollen.

[2019-05-14 12:18] sonschul opened #56 "Reihenfolge der Properties auf der Projektseite"
Beschreibung
TeilnehmerIn
Organisationseinheit
Fach
Datum/Uhrzeit-Intervall
Mittelgeber
Bewilligungssumme
Ergebniszusammenfassung
Externe Projektseite

[2019-05-14 13:02] dofeldsc commented on #56
Beschreibung - vivo:description (1)
TeilnehmerIn - faux property of obo:BFO_0000055 (17)
Organisationseinheit - kdsf:hatOrganisationseinheit (-1) => (19)
Verbund/Partnerorganisation . uoscore:hatpartnerorganisation (-1) => (20)
Fach - kdsf:hatFach (-1)  => (21)
Datum/Uhrzeit-Intervall (Jetzt Projektlaufzeit) - vivo:dateTimeInterval (9)
Mittelgeber - kdsf:hatMittelgeber (-1) => (25)
Bewilligungssum

[2019-05-15 09:40] dofeldsc opened #57 ""Raw Statements with Resource as Subject" voll mit = und -"
Wenn man zum Beispiel bei einem Drittmittelprojekt unter "edit Profile" den Button "Raw Statements with This Resource as Subject" anklickt, sieht man bei den über den Harvester importierten Instanzen einen Haufen "---------------------" und "================".

Es sollte geprüft werden:
* [ ] Passiert das auch bei über die Oberfläche erstellten Instanzen
* [ ] Passiert das auch bei über die Oberfl

[2019-05-15 14:56] dofeldsc commented on #54
Den Anzeigetext und die Klassengruppen habe ich geändert.

Zu dem Problem mit der unnötigen Klassenfilter gibt es mehrere Lösungsmöglichkeiten aber keine ist so richtig gut. Ich kann die hart entfernen aber ob man das möchte ist die Frage. Ich hab jetzt erst einmal die doppelten gefiltert.
Über den Rest können wir die Tage ja mal sprechen.

Für Mich noch als Notiz:
Vitro/webapp/src/main/webapp/tem

[2019-05-15 15:02] dofeldsc opened #58 "Profilseiten für nicht Professoren"
Ich habe jetzt erst die Profilseite der Professoren auch bei den Wissenschaftlichen Mitarbeitern und so eingesetzt aber das passt nicht wirklich.

Muss ich noch anpassen bzw. ein eigenes erstellen.

[2019-05-16 06:42] sonschul commented on #58
Leider werden die Mitarbeiter gar nicht mehr in der Suche angezeigt:
![image](https://user-images.githubusercontent.com/40201793/57831823-760fa200-77b6-11e9-9aa6-776878249540.png)
Auch wenn man einen Filter auswählt in dem eigentlich Instanzen vorhanden sein sollten, wird nichts mehr angezeigt:
![image](https://user-images.githubusercontent.com/40201793/57831844-84f65480-77b6-11e9-8c8d-63cd56a6aec

[2019-05-16 10:47] dofeldsc commented on #58
Hat sich erledigt also der Kommentar.

Die enthaltenen Klassen:
Person - Haben keine Profilseite, nur VCard (nicht sichtbar)
Professoren - Eigenes Template für Professoren
Verwaltungspersonal - (bis jetzt noch Professoren-Template)
EhemaligeBeschaeftigte - (bis jetzt noch Professoren-Template)
WissenschaftlicheUndKuenstlerischeMitarbeiter - (bis jetzt noch Professoren-Template)

[2019-05-16 13:55] dofeldsc opened #59 "Überarbeitung Startseite"
Die Startseite soll etwas abgeändert werden:
- Änderung des Textes
- zum Teil Neuplatzierung des Textes
- Link einbauen zur "Leitlinien"-Seite

[2019-05-16 13:56] dofeldsc commented on #59
![neue_frontpage](https://user-images.githubusercontent.com/9248706/57859376-17b4e480-77f3-11e9-8087-b6580d5069ed.png)

![new_frontpage2](https://user-images.githubusercontent.com/9248706/57859375-17b4e480-77f3-11e9-8b06-df07f53f9786.png)

Also mir persönlich gefällt die zweite Version besser.

[2019-05-16 16:05] sonschul commented on #59
Ich bin auf jeden Fall auch für die zweite Version!

[2019-05-16 16:11] sonschul opened #60 "Anpassungen im template Projekte"
![image](https://user-images.githubusercontent.com/40201793/57869674-d417a600-7805-11e9-8ae3-2dd4a9f15e89.png)

Kann das Klassen-Label in die nächste Zeile geschoben werden?

[2019-05-16 16:15] sonschul opened #61 "Shortviews Publikationen mit Autoren und Jahr"
![image](https://user-images.githubusercontent.com/40201793/57869967-746dca80-7806-11e9-9ea2-bb5f3b5ac62a.png)

Ähnlich wie bei #55 sollen die Autoren und das Veröffentlichungsjahr in der Liste angezeigt werden.

Auf der Seite "Forschungsergebnisse" soll zudem nur die Klasse Publikation (nicht alle subclasses) angezeigt werden.

[2019-05-16 16:25] sonschul opened #62 "sparql query professoren ohne schlagwörter für km"
Liste aller Professoren erstellen, die keine Schlagwörter hinterlegt haben.

[2019-05-16 16:27] sonschul commented on #59
Weiter unten bei der Zufallsauswahl soll der mittlere Block "Projekte" heißen.

[2019-05-17 08:47] dofeldsc commented on #61
[Klassen] [Jahr]
[Autoren]

[2019-05-20 07:46] sonschul opened #63 "<title> Seite Datenschutzerklärung ändern"
https://fis.uni-osnabrueck.de/vivouos/privacypolicy#

![image](https://user-images.githubusercontent.com/40201793/58004679-18e05d00-7ae4-11e9-9230-ffcc7943e7da.png)

Bitte deutschsprachig anzeigen "Datenschutzerklärung"

[2019-05-20 08:44] sonschul commented on #59
@dofeldsc

Kannst du dir den Absatz noch mal anschauen?
Der Strich ist irgendwie verrutscht. Der gelbe Balken müsste komplett vor dem Absatz stehen so wie oben im Entwurf.

![image](https://user-images.githubusercontent.com/40201793/58008155-15e96a80-7aec-11e9-8bb5-60887416711d.png)

[2019-05-20 09:03] dofeldsc commented on #59
![frontpage](https://user-images.githubusercontent.com/9248706/58009456-ca848b80-7aee-11e9-9473-a2107a6cf287.png)

Bei mir nicht, magst du mal bitte die Seite hart neuladen wie ich dir das gezeigt habe? Sonst einfach mal im inkognito modus starten. Da ist der Cache ausgestellt

[2019-05-20 09:11] dofeldsc commented on #63
gilt für mehrere Seiten:
- /imprint
- /aboutPage
- /privacypolicy
- /siteAdmin
- /revisionInfo

Muss man im entsprechenden Controller die getTitle Methode auf i18n umstellen

[2019-05-20 09:58] dofeldsc commented on #63
Alle geändert, bei 4 im Controller und bei der AboutPage im Template einen deutschen Titel hinzugefügt. (alles in Vitro)

[2019-05-20 09:58] #63 closed, assigned to dofeldsc

[2019-05-20 13:17] dofeldsc commented on #61
Ich habe es jetzt mal so umgesetzt, ohne Trennzeichen sah das irgendwie doof aus:
[Klasse] - [Jahr]
[Autor1]; [Autor2] usw.
![browse_publications](https://user-images.githubusercontent.com/9248706/58024364-4ba14a00-7b12-11e9-99bc-78e27b572644.png)

Die VCard Autoren werden auch nicht als Link angezeigt.
Passt das so?

[2019-05-20 14:11] sonschul opened #64 "beim erstaufruf einer projektseite werden wenige property angezeigt (nicht alles anzeigen)"
![image](https://user-images.githubusercontent.com/40201793/58027877-ddf91c00-7b19-11e9-99e9-81613390a8be.png)

[2019-05-20 14:30] dofeldsc commented on #64
Das Problem ist gelöst und kam daher das ich die anderen Tabs entfernt habe. Es gibt eine Java Script Datei die immer auf den Templates geladen wird. Da habe ich einfach die Methode ViewAll() beim initialen Ladevorgang hinzugefügt

[2019-05-20 14:30] #64 closed, assigned to dofeldsc

[2019-05-20 15:21] dofeldsc commented on #60
Ist erledigt. Betraf nur Dateien in Vitro deswegen hier kein Link zum Commit

[2019-05-20 15:21] #60 closed, assigned to dofeldsc

[2019-05-20 15:22] dofeldsc commented on #61
Ist drin und wurde für gut befunden. Bei Änderungswünschen am besten das Ticket wieder öffnen

[2019-05-20 15:22] #61 closed, assigned to dofeldsc

[2019-05-20 15:24] dofeldsc commented on #56
Ist nicht perfekt aber fürs erste ausreichend, falls es notwendig werden sollte das weiter zu verfeinern nochmal das Ticket öffnen und dann schaue ich ob man das noch besser hinbekommt.
Die einzeln Gruppen werden halt nach und anch geladen und können nur innerhalb der Gruppe sortiert werden

[2019-05-20 15:24] #56 closed, assigned to dofeldsc

[2019-05-20 15:26] dofeldsc commented on #55
Ist drin und wurde für gut befunden. Falls da noch Anpassungen gewünscht sind einfach das Ticket öffnen und reinschreiben.

[2019-05-20 15:26] #55 closed, assigned to dofeldsc

[2019-05-20 15:27] dofeldsc commented on #33
Wie gerade mit Sonja abgesprochen, bleibt das fürs erste so. Falls andere Texte gewünscht sind oder diese auf der Leitlinien-Seite zusammengefasst werden sollen einfach das Ticket neu öffnen und die entsprechenden Texte beifügen.

[2019-05-20 15:30] dofeldsc commented on #8
Ich habe keine Rückmeldung mehr bekommen also lass ich das jetzt einfach so. Falls die sich bei irgendwem melden, der Commit ist ja oben verlinkt.

[2019-05-20 15:30] #8 closed, assigned to dofeldsc

[2019-05-20 15:48] sonschul commented on #54
![image](https://user-images.githubusercontent.com/40201793/58034703-7b0e8180-7b27-11e9-88c0-83480ce95ed8.png)

An der Stelle möglichst nur "Drittmittelprojekt".

[2019-05-21 11:14] sonschul commented on #33
Bitte bei Gelegenheit auf der Projekt-Übersichtsseite im Textblock hinzufügen Transparenz "in" der Forschung. Frau Brüggemann bittet darum, dass die Leitlinien möglichst immer gleich benannt werden.

[2019-05-21 12:06] #33 closed, assigned to manschwa

[2019-05-21 13:33] dofeldsc commented on #54
Ist erledigt, ich habe jetzt einfach eine Abfrage eingebaut die unerwünschte Werte filtert. Falls noch andere Einträge auftauchen  die entfernt werden sollen eben Bescheid geben.
In diesem Commit sieht man wo man die eintragen kann:
https://github.com/FISvirtUOS/Vitro/commit/88805efc213236f26aa7af311c5a013f2834b62d

Zusätzlich habe ich die Maße etwas erweitert so dass jetzt alle Werte passen sollt

[2019-05-21 15:33] sonschul opened #65 "index of contents"
Ich bin mir nicht sicher, ob wir schon vereinbart haben, dass der link zum "index of contents" sichtbar bleibt oder komplett rausgenommen wird.
Wenn die Seite stehen bleiben soll, müssten die doppelten Einträge noch raus:

![image](https://user-images.githubusercontent.com/40201793/58109718-69dc7800-7bee-11e9-924e-126fc8e7e61e.png)

[2019-05-22 07:52] sonschul opened #66 "anpassungen im template projects / reserachresults"
![image](https://user-images.githubusercontent.com/40201793/58156691-f6cb1400-7c76-11e9-8d2c-5b2cef5f3664.png)

`<h3 class="selected-class">...</h3>` kann entfernt werden.

[2019-05-22 10:00] dofeldsc opened #67 ""Alle anzeigen" unter Publikationen auf Hauptseite kaputt"
/vivouos/publications - Die Seite gibt es nicht.
Entweder per Hand anlegen oder in die initialen Seiten mitaufnehmen.

[2019-05-22 10:54] sonschul opened #68 "Richtige Gender Schreibweise überarbeiten"
Beim Testen vom fix #54 ist aufgefallen, dass die labels der klasse "person" noch nicht besonders konsistent sind (gendergerechte sprache/ groß- und kleinschreibung).

![image](https://user-images.githubusercontent.com/40201793/58169096-2df9ef00-7c90-11e9-8475-5af80b58826c.png)

[2019-05-22 11:00] sonschul commented on #54
![image](https://user-images.githubusercontent.com/40201793/58169611-78c83680-7c91-11e9-8a68-7afa5ad0e0f2.png)

Für die Filtermöglichkeit auf 1. Ebene "Organisationen" sollte auf 2. Ebene die Klasse "Abteilung" und "Organisation" raus und in den Suchergebnissen steht auch immer noch das englische Label - "Academic Department" drin.

[2019-05-22 11:37] dofeldsc commented on #68
Das heißt? Wie sollen die denn geändert werden?

[2019-05-22 11:45] sonschul commented on #68
1. kann ausgeblendet werden
2. "E"hemalige Beschäftige
3. kann ausgeblendet werden
4. kann so bleiben
5. Professor/ Professorin
6. kann so bleiben
7. kann ausgeblendet werden

Die ausgeblendeten Label sind zwar jetzt nicht korrekt, aber bringen auch nicht wirklich Mehrwert bei der Suche. Also lieber ausblenden, statt Label ändern.

[2019-05-22 12:52] dofeldsc commented on #67
Ich musste den Link nur ändern, also die neue Seite heißt "/researchresults"

[2019-05-22 12:52] #67 closed, assigned to dofeldsc

[2019-05-23 06:48] sonschul commented on #59
![image](https://user-images.githubusercontent.com/40201793/58231480-67396a00-7d37-11e9-95ee-634849c57adc.png)

Könnten die beiden Überschriften Forschung und Projektergebnis umbenannt werden in "Projekte" und "Projektveröffentlichungen" ?

[2019-05-28 09:44] dofeldsc commented on #68
Wir sollten uns erst einmal auf eine Schreibweise einigen
- Professor / Professorin
- Professor*in
- ProfessorIn
Alle drei Varianten gibt es dann im System, zum Teil sogar von uns eingeführt.

Zusätzlich passt die Seite https://fis.uni-osnabrueck.de/vivouos/people auch noch nicht, also müsste noch eingestellt werden welche Klassen dort angezeigt werden sollen.
Weil das Dinge sind die man über die

[2019-05-28 12:35] dofeldsc commented on #65
Ich habe den Link einfach mal entfernt, die Seite an sich gibt es aber noch.

[2019-05-28 12:35] #65 closed, assigned to dofeldsc

[2019-05-28 12:36] #59 closed, assigned to dofeldsc

[2019-05-28 13:09] dofeldsc commented on #66
Ich kann das für alle Menü- bzw. Übersichtsseiten entfernen aber nur sehr unschön für diese eine.
Soll das dann auch auf der Personenseite, etc entfernt werden? Man hat ja links eh die ausgewählte Klasse.
Falls es bei allen entfernt werden soll:
h3 entfernen - Vitro/webapp/src/main/webapp/templates/freemarker/body/partials/menupage/menupage-browse.ftl
JS entfernen - Vitro/webapp/src/main/webapp/js

[2019-05-28 13:10] dofeldsc commented on #54
Das Ticket ist erledigt und für die verbleibenden englischen Labels (initialTBoxAnnotations.n3) mache ich ein extra Ticket auf

[2019-05-28 13:10] #54 closed, assigned to dofeldsc

[2019-05-28 13:15] dofeldsc opened #69 "InitialTBoxAnnotations - Sprachdateien werden nicht immer angezeigt"
Wenn ich mir zum Beispiel die normale ShortView eines Academic Departments (Fachbereich) anschaut dann steht da "Academic Department" hinter aber wenn ich als Admin diesen Eintrag editiere dann steht dort "Fachbereich (vivo)" als Klasse und dieses Label bzw. das Klassenlabel gibt es nur ein Mal.

Eine "einfache" Lösung wäre die InitialTBoxAnnotion-Sprachdateien über die Oberfläche einzuspielen, da

[2019-05-29 13:54] dofeldsc commented on #57
Hat sich erledigt, das ist kein Fehler sondern nur eine ..... sagen wir komische Art sowas darzustellen.
Die schauen sich den längsten EIntrag an (z.B. die Beschreibung) und wenn die 500 Zeichen hat, dann gibt es in den ersten paar Zeilen der Übersichtsseite der Instanz (edit -> show "Raw Statements with This Resource as Subject") auch 500 = oder - Zeichen.
Das Ding ist Aufgebaut wie eine Tabelle,

[2019-05-29 13:54] #57 closed, assigned to dofeldsc

[2019-05-31 06:18] sonschul commented on #66
Aus meiner Sicht ist die Information redundant und kann auf allen Menü/Übersichtsseiten entfernt werden.

[2019-05-31 06:27] sonschul commented on #68
Laut Gleichstellungsbüro ist die 2. Variante die bevorzugte Schreibweise.
siehe https://uni-osnabrueck.de/intranet/verwaltung/gleichstellungsbuero/

[2019-06-05 11:10] sonschul opened #70 "Ergänzung Über VIVO - Seite"
Bitte einen Absatz einfügen vor dem Abschnitt "Über VIVO an der Universität Osnabrück"

<h2>Inhaltliche Abgrenzung</h2>
Das derzeitige VIVO-System dient der Recherche von Drittmittelprojekten. Er verfolgt nicht das Ziel, Forschungsoutput katalogisch nachzuweisen oder Forschende umfassend zu präsentieren. Aus diesem Grund erhebt das System keinen Anspruch auf Vollständigkeit der enthaltenen Forschu

[2019-06-05 11:40] dofeldsc opened #71 "Export von Suchergebnissen anpassen"
Zum Beispiel bei einem Export der Suche "Stiftungsprofessur" und dann der Unterpunkt Drittmittelprojekte kamen folgende Ergebnisse:

"Name, Title, Email, URI, VIVO Profile URL"
Obwohl Titel und Email nicht gesetzt werden...

Mal anschauen inwieweit sich das für Projekte, etc. einstellen lässt.

[2019-06-06 09:17] #70 closed, assigned to dofeldsc

[2019-06-06 13:16] dofeldsc opened #72 "Error bei Auswahl der Klassen auf Übersichtsseite"
/vivouos/people#http://kerndatensatz-forschung.de/owl/Basis#Beschaeftigter%20

Beim Aufruf der "people" Seite und anschließender Auswahl einer Klasse wird der Inhalt geladen.
Falls ich jetzt aber eine Klasse auswähle (Auswahl bleibt bis zum nächsten Besuch gespeichert) und dann die Seite neu lade (notfalls Hard Reload) bekomme ich einen "Internal Server Error"
-> "http://localhost:8080/vivouos/dat

[2019-06-06 14:32] #66 closed, assigned to dofeldsc

[2019-06-06 14:41] dofeldsc commented on #72
Ich habe den Fehler, also die Stelle wo das Leerzeichen eingefügt wurde gefunden. Das komische daran ist, das dort der Kommentar
"// the extra space is needed to prevent odd scrolling behavior"
Dieses Verhalten konnte ich jedoch nicht nachvollziehen. Daher habe ich das Leerzeichen entfernt, da es an besagter Stelle zu einem internal Server Error (-> Keine Daten wurden geladen) führte.

Sobald das

[2019-06-07 10:45] dofeldsc commented on #69
Ich hab im Produktivsystem jetzt die Sprachdateien über die Oberfläche (rdf Import) eingespielt damit erst einmal die korrekten Labels angezeigt werden. Bei Gelegenheit dem Problem nochmal näher auf den Grund gehen.

[2019-06-13 09:50] sonschul opened #73 "Link in Projektergebniszusammenfassung nicht anklickbar"
Eventuell korrespondiert das zu #31

Beispiel für nicht funktionierenden Link:
https://fis.uni-osnabrueck.de/vivouos/display/project82cd93254d6a777151d54591c062f6bb

[2019-06-13 11:19] dofeldsc commented on #73
Das hat leider nichts mit dem Ticket #31 zu tun.
Man kann nicht einfach in ein Textfeld (Ergebniszusammenfassung ist als Text-Property definiert) einen Link schreiben und der wird dann automatisch anklickbar.

Wenn das gewünscht ist muss ich mal schauen ob man das anpassen kann aber das ist so in VIVO bis jetzt noch nicht vorgesehen aber kann man bestimmt irgendwie bauen.

[2019-06-17 11:15] dofeldsc opened #74 "Anzeige Personen <-> Fachbereich/Institute"
Die Zuordnung Person <-> Fach passt schon so, auf den Fachbereichs- und Insitutsseiten jedoch noch nicht.
- Umbenennung von "beitragende Person" in "FachvertreterIn"
- Für die Property zum Fach muss auch noch die gendergerechte Schreibweise geändert werden
- Startseite Forscher*innen auch noch ändern

Wir haben uns jetzt für die Schreibweise "ForscherInnen" etc. entschieden!

[2019-06-17 11:30] dofeldsc opened #75 "Label "Mittelgeber" ändern"
Das Label der Property vom Mittelgeber zu den Projekten soll von "Mittelgeber" auf "Vom Mittelgeber finanzierte Projekte" geändert werden!

[2019-06-18 12:02] sonschul opened #76 "Projektlaufzeit zu den Projekttitel einfügen"
![image](https://user-images.githubusercontent.com/40201793/59680424-95448980-91d1-11e9-933c-0ba944e6bfc0.png)
Auf den Fach-Seiten die Projektlaufzeit zu den Projekttitel einfügen, um Projekte besser differenzieren zu können.

[2019-06-19 13:40] sonschul opened #77 ""Ergebnis eines Prozesses oder Events""
Link von "Publikation" zu "Projekt"
umbenennen "Ergebnis eines Prozesses oder Events"  in "Forschungsergebnis von"

[2019-06-20 07:16] sonschul opened #78 "Template Projekt-Detailseite"
![Projekt-Detailseite](https://user-images.githubusercontent.com/40201793/59828769-0738e200-933c-11e9-927f-1753b527b57a.png)

[2019-06-20 07:21] sonschul commented on #78
Reihenfolge der Properties unter Header (Projekttitel):
1.  Beschreibung:
2.  Projektleitung:
3.  Projektlaufzeit:
4.  Bewilligungssumme:
5.  Verbund-/Partnerorganisationen:
6.  Drittmittelgeber nach KDSF:
7.  Förderkennzeichen des Mittelgebers:
8.  Schlagwörter:
9.  Übergeordnetes Projekt von:
10. Teilprojekt von:
11.  Ergebniszusammenfassung:

[2019-06-20 13:20] dofeldsc commented on #78
Wollen wir da noch mit K&M und so drüber diskutieren oder soll ich schon anfangen das umzusetzen?

[2019-06-20 13:21] sonschul commented on #78
Du kannst ruhig einen Entwurf fertig machen.

[2019-06-20 13:42] sonschul opened #79 "Weitere Unterteilung der Mittelgeber in Projekt-Daten"
Wir müssten darüber nachdenken, ob der Ausweis der "Mittelgeber gemäß KDSF" ausreicht, oder ob gewünscht ist die Mittelgeber im Detail zu benennen wie es derzeit in den PDF Dateien gehandhabt wird (die eigentlich als Vorgabe dienen sollen).

Beispiel:
![Projektseite-Mittelgeber-KDSF](https://user-images.githubusercontent.com/40201793/59853933-2ce0de00-9372-11e9-91b4-f3690722e9b2.jpg)
![Projektseit

[2019-06-20 14:00] sonschul opened #80 "Druckansicht / URI ausblenden"
Bei Gelegenheit könnte die Druckansicht optimiert werden.
Derzeit werden die URI mit eingeblendet. (siehe Screenshot).

![image](https://user-images.githubusercontent.com/40201793/59855021-61559980-9374-11e9-9c2a-8c867eca61ab.png)

[2019-06-25 07:09] sonschul commented on #62
Liste aller Schlagwörter mit Sprachlabel:
`SELECT DISTINCT ?value
WHERE {?professor vivo:freetextKeyword ?value}
`

Liste aller Professoren ohne Schlagwörter:
[code]

[2019-06-25 07:09] #62 closed, assigned to sonschul

[2019-06-26 13:35] #74 closed, assigned to dofeldsc

[2019-06-26 13:36] dofeldsc commented on #75
Als englische Bezeichnung habe ich erst einmal "Projects financed by the donor" mit eingebaut

[2019-06-28 13:29] dofeldsc commented on #76
Ich habe das jetzt bei mir mal lokal eingebaut.
Wie soll das denn genau aussehen, einfach nur das Datum bzw. das Intervall dahinter mit Leerzeichen getrennt oder wie?
Soll das dann auch anklickbar sein so das man darüber auch zum Projekt kommt?

[2019-06-28 13:49] dofeldsc commented on #76
![Bildschirmfoto vom 2019-06-28 15-48-23](https://user-images.githubusercontent.com/9248706/60346795-372b5980-99bc-11e9-840f-c8d4c4695a41.png)
Ich würde sowas bevorzugen, Intervall in Klammern und nicht teil des Links also daher etwas grauer

[2019-06-28 14:01] #77 closed, assigned to dofeldsc

[2019-07-01 10:20] sonschul commented on #76
Die Umsetzung finde ich sehr gut. (nicht Teil des Links und leicht ausgegraut)

[2019-07-05 12:01] #76 closed, assigned to dofeldsc

[2019-07-08 09:36] dofeldsc opened #81 "Foto Upload Ansicht"
Wenn man über die Oberfläche ein Bild importiert dann passt die Vorschau bei der Auswahl des Bildausschnitts manchmal nicht...
Abschließend ist das Bild zwar genau so wie man den Bildausschnitt ausgewählt hat aber die Vorschau stellt dies falsch da, also kein wichtiges Problem aber kann man sich mal anschauen.

[2019-07-15 10:41] sonschul opened #82 "Status ( Laufend/ Abgeschlossen ) als Property bei Drittmittelprojekten hinzufügen"
Der Projektstatus soll als "Laufend" oder "Abgeschlossen" bei Drittmittelprojekten hinzugefügt werden.

Für spätere Facetten-Navigation / Filtermöglichkeiten in der Suche und auch jetzt schon in der Darstellung auf der Projektsuchseite unter https://fis.uni-osnabrueck.de/vivouos/projects und im überarbeiteten Template für die Projektdetailseite jeweils hinter der Laufzeit einblenden.

[2019-07-16 12:21] dofeldsc commented on #82
Als Property bedeutet dann das ihr das über den Import einspielen wollt?
Das können wir gerne machen aber das System wird nicht automatisch erkennen das die Laufzeit überschritten ist und dann die Property von Laufend auf Abgeschlossen ändern. Das wird dann immer nur bei einem Update der Daten passieren...
Das Datum was dort jetzt angezeigt wird, ist einfach das Label des Zeitintervalls. Wenn das

[2019-07-17 07:48] dofeldsc commented on #73
https://fis.uos.de/vivouos/display/project8d49f9bdb90a6923700f006a884ab386

Hier ist ein Beispiel wo der Link abgeschnitten wird und somit nur auf die Startseite der Homepage verlinkt.
Muss ich mir nochmal anschauen

[2019-07-17 12:23] #73 closed, assigned to dofeldsc

[2019-07-17 13:33] dofeldsc commented on #27
![UOS-Logo_App-Icon_160px_160px](https://user-images.githubusercontent.com/9248706/61379643-38a7bd80-a8a8-11e9-86db-0d2b31d586a8.jpg)

Das Logo sollte dann für das Uni-Logo im Header eingebaut werden!

[2019-07-17 13:35] dofeldsc commented on #80
UOS Logo ist in der Druckansicht etwas abgeschnitten, eigentlich nicht schlimm aber vllt mal anschauen

[2019-07-19 07:46] dofeldsc commented on #78
Wir verwenden für die Icons unten welche von der Seite https://fontawesome.com/icons, dazu müssen wir einen Link in die Terms of Use aufnehmen!

Zitat:
"This SVG Icon Requires Attribution
Before you download, this icon is licensed under the Creative Commons Attribution 4.0 International license and requires that you comply with the following:

You must give appropriate credit, provide a link to th

[2019-07-22 16:52] sonschul opened #83 "Template Publication Detailseite"
Wie die Projekt-Seite und Personen-Seite, soll auch die Publikationsseite noch im Layout überarbeitet werden.

![image](https://user-images.githubusercontent.com/40201793/61649405-b6593800-acb1-11e9-91e5-c5dfaf554a70.png)

[2019-07-23 07:26] sonschul commented on #78
Kleine Layout-Änderungsvorschläge

Im Header:
- gelber Balken etwas schmaler
- Abstände zwischen den Zeilen größer
- (Projekttitel) Überschrift größer
- FB und Fach besser unten mit aufführen

Im beschreibenden Text:
- Projektlink-URL durch Kurztexte ersetzen z.B. ("Link")

[2019-07-23 11:52] sonschul commented on #50
Zeilenabstände etwas vergrößern auf
line-height: 1.5em;

im `<div class="intro_text uos_style">`
und `<div class="jumbotron uos-jumbotron">`

wenn ich es im `.jumbotron p` über F12 teste, wird es in beiden Absätzen geändert.
also kurz: den beiden Begrüßungstexten auf der Startseite.

[2019-07-23 12:00] sonschul commented on #78
![image](https://user-images.githubusercontent.com/40201793/61710554-2c14e080-ad52-11e9-8ccf-962234307de7.png)

Projektstatus in nächste Zeile

[2019-07-23 12:08] sonschul opened #84 "template Such-Seiten"
Eventuell im nächsten Release darüber nachdenken, den gelben Balken oben zu ergänzen und die Klasse "Drittmittelprojekt (737)" über der Ergebnis-Liste einzubinden. Dafür die Ergebnisliste mittig ausrichten.

![image](https://user-images.githubusercontent.com/40201793/61711026-603cd100-ad53-11e9-9cf1-d699e468d562.png)

[2019-07-23 13:35] dofeldsc commented on #82
Ist im neuen Projekt-Template umgesetzt. Eine SPARQL holt das End-Datum und vergleicht das dynamisch mit dem aktuellen. Falls kein End-Datum angegeben ist wird automatisch angenommen das das Projekt noch läuft!

[2019-07-23 13:35] #82 closed, assigned to dofeldsc

[2019-07-24 12:23] #83 closed, assigned to dofeldsc

[2019-07-24 12:23] #84 closed, assigned to dofeldsc

[2019-07-24 12:24] #78 closed, assigned to dofeldsc

[2019-08-09 09:50] #50 closed, assigned to dofeldsc

[2019-08-09 09:52] dofeldsc commented on #72
Da keine Rückmeldungen kamen und ich selber auch keine Fehler feststellen konnte schließe ich das Ticket mal. Falls jemandem was auffällt, einfach eben Bescheid geben und das Ticket wieder öffnen.

[2019-08-09 09:52] #72 closed, assigned to dofeldsc

[2019-08-09 10:03] dofeldsc opened #85 "Neues Template für Beiträge des Wissensforums"
Wir wollen Facebook, Youtube, Instagram und vielleicht noch Twitter auf bestimmten VIVO-Seiten einbinden.
Fürs erste beschränken wir uns auf die Seiten der Eventreihe "Osnabrücker Wissensforum".
Dazu zählen die Klassen:

Bei diesen Instanzen gibt es meist ein Foto, eine Beschreibung, einen Autor mit Kontaktdaten und ein Video des Vortrags. Für Testzwecke enthält die Seite abschließend auch einen e

[2019-08-15 13:41] dofeldsc commented on #85
Offene Fragen:
-  Soll es eine Instanz "X. Osnabrücker Wissensforum" geben in der alle zugehörigen Vorträge aufgelistet sind?
   - Wäre über Eventreihe möglich
- Warum gibt es ein Spalte "Fach" und "Fach_Bez" wo die "Fach_Bez" nicht auf das ausgewählte "Fach" passt?
  - zum Beispiel in der Liste 2017 direkt der erste Eintrag: "Geographie" passt irgendwie nicht zur Fachbezeichnung "Pflanzenphysiolo

[2019-08-28 06:41] sonschul opened #86 "Social Media Follow Buttons"
Um die universitären Social Media Accounts voranzutreiben sollen "Follow-Buttons" in dem Footer der VIVO Seite eingebunden werden. (angelehnt an das Corporate Design der Uni OS)

Zunächst soll sich auf die folgenden vier Netzwerke beschränkt werden:

Facebook https://fontawesome.com/icons/facebook-square?style=brands
Instagram https://fontawesome.com/icons/instagram?style=brands
Twitter https://fo

[2019-08-28 06:48] sonschul commented on #86
Verlinkt werden soll auf die folgenden Accounts:

https://www.facebook.com/uniosnabrueck
https://www.instagram.com/uniosnabrueck/
https://www.youtube.com/user/uniosnabrueck1/
https://twitter.com/UniOsnabrueck

[2019-08-28 07:03] sonschul opened #87 "Vorschlag Template für Embedded Social Media News"
Für das Einbetten der Social Media Plattformen würde ich vorschlagen, dass wir eine Seite "Forschungs-News" anlegen, das die verschiedenen Möglichkeiten zum Einbetten der Social Media Plattformen enthält. (Damit keins der anderen Templates geändert werden kann und für Social Media ein eigenes Test-Template angelegt wird.) Den Menü-Punkt könnten wir dann oben im Haupt-Menü für das Testsystem aufneh

[2019-08-28 07:04] sonschul commented on #87
`<blockquote class="twitter-tweet"><p lang="de" dir="ltr">Wie &quot;real&quot; ist <a href="https://twitter.com/hashtag/VirtualReality?src=hash&amp;ref_src=twsrc%5Etfw">#VirtualReality</a> wirklich?: Studie der <a href="https://twitter.com/hashtag/UOS?src=hash&amp;ref_src=twsrc%5Etfw">#UOS</a> untersucht erzeugte Emotionen durch virtuelle Realität. <a href="https://twitter.com/hashtag/VRBrille?src

[2019-08-28 07:04] sonschul commented on #87
Sollte dann so aussehen:
Twitter-News:
![image](https://user-images.githubusercontent.com/40201793/63833249-d942d000-c972-11e9-98f7-e66e852b5113.png)

[2019-08-28 07:06] sonschul commented on #86
Und noch mal Tweets liked by Uni Osnabrück

`<a class="twitter-timeline" href="https://twitter.com/UniOsnabrueck/likes?ref_src=twsrc%5Etfw">Tweets Liked by @UniOsnabrueck</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>`

[2019-08-28 09:43] sonschul opened #88 "Neues Template für Fach mit Page Plugin von Facebook"
Noch nicht für Montenegro, weil vermutlich in Kürze der Zeit nicht machbar, aber langfristig könnte für die Verbesserung des Templates für "Fach" die Nutzung des Facebook Page Plugins interessant sein.

Beispiel:
Facebook Page URL: https://www.facebook.com/klipsos/
Für das Fach "Psychologie"
Plugin Code Generator: https://developers.facebook.com/docs/plugins/page-plugin/

![image](https://user-ima

[2019-08-28 11:56] sonschul commented on #87
Und das ganze könnte man auch noch mit den "Tweets liked by UniOS" machen.

Und noch mal Tweets liked by Uni Osnabrück

`<a class="twitter-timeline" href="https://twitter.com/UniOsnabrueck/likes?ref_src=twsrc%5Etfw">Tweets Liked by @UniOsnabrueck</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>`

[2019-08-28 12:03] sonschul opened #89 "Embedding Instagram"
MEMO

Summer School Biology
https://www.instagram.com/p/Bz0GmgyoTOA/?utm_source=ig_web_copy_link
VIVO
https://fis.uni-osnabrueck.de/vivouos/display/projectb11871a36ef01325670fafaf88f26ece

[2019-08-29 11:45] dofeldsc commented on #87
Also das mit der eigenen Seite für sowas finde ich nicht verkehrt.
Ich hatte das ja schon mal eingebunden (https://fis.virtuos.uni-osnabrueck.de/vivouos/display/n6238)
Passt da irgendwas nicht oder warum schlägst du jetzt eine andere Art das einzubinden vor?

Wir hatten ja gestern schon mal darüber gesprochen, da hieß es noch das solle auf die Startseite?! Hat sich das dann erledigt? Dann würde ic

[2019-08-29 11:53] dofeldsc commented on #86
Was ist denn hier jetzt genau gewünscht?
Willst du einen Link zu den jeweiligen Seiten mit den Icons oder willst du einen "Follow-Button" so das man beim Klicken direkt dem jeweiligen Profil folgt falls man angemeldet ist (bei der jeweiligen social media Seite) oder halt zur Login-Seite weitergeleitet wird?

Zusätzlich noch:
- Soll sich ein neuer Tab öffnen wenn man das Icon anklickt oder soll sic

[2019-08-29 13:41] dofeldsc commented on #87
Ich habe mal eine Seite angelegt und ein paar Beispiele reingepackt, unter anderem die beiden hier im Ticket genannten.
https://fis.virtuos.uni-osnabrueck.de/vivouos/socialmediauos

[2019-08-29 14:27] sonschul commented on #86
Neuer Tab mit dem Link zum Profil fände ich am besten.

[2019-08-29 14:54] sonschul commented on #85
- Eine übergeordnete Instanz mit der Eventreihe fände ich gut.
- Ich glaube die Bezeichnungen kommen aus der PDF Version des Wissensforums. Das ist nicht die Fach_Bez, sondern die Denomination. Du solltest eigentlich die Spalte Fach (field01) verwenden können. Allerdings ist es tatsächlich nicht korrekt. Es müsste dort field15 stehen... Da muss also noch mal jemand drüber gucken... Du bekommst ein

[2019-08-29 15:11] sonschul commented on #87
Das finde ich richtig gut!
In sehr ähnlicher Form ist das sogar bei großen deutschen Universitäten auf den Hauptseiten verlinkt worden. Vielleicht sollten wir das KM auch noch mal zeigen. ;-)

[2019-09-16 08:18] dofeldsc commented on #88
Das Facebook PlugIn hat sich dann erst einmal erledigt oder?

[2019-09-16 08:20] dofeldsc commented on #87
Wie ist jetzt der Stand für die Seite? Sollen wir das vllt so machen das ein Pop-Up kommt wenn man das anklickt oder eine extra Seite und dann muss man zustimmen und dann werden die Inhalte erst geladen?

Und wenn wir das so machen dann sollten wir uns mal drüber unterhalten was da genau angezeigt werden soll.

[2019-09-16 08:21] #86 closed, assigned to dofeldsc

[2019-09-16 15:18] sonschul commented on #87
Ich würde vorschlagen, dass wir vor der technischen Umsetzung einen Termin mit dem Anwalt von KM gemacht haben. Damit wir auf der sicheren Seite sind, was die gesetzeskonforme Umsetzung angeht.

[2019-09-17 10:05] dofeldsc commented on #85
Habe ich so umgesetzt.
Mir ist noch aufgefallen das es zum Teil Aufzählungen in den Texten gibt und das es vllt Sinn macht die Zeilenumbrüche zu bewahren, siehe Beispiel:
ohne Formatierung:
![wissensforum_ohne_formatierung](https://user-images.githubusercontent.com/9248706/65032433-71fdb780-d943-11e9-9d94-5a9d950892fe.png)

mit Formatierung:
![wissensforum_mit_formatierung](https://user-images.git

[2019-09-17 13:03] sonschul commented on #85
Mir gefällt die dritte Variante "schöne Formatierung"  auch am besten.
Es ist zunächst kein Bild vorgesehen, weil schon das Video auf der Seite vorhanden ist.
Eventuell könnte man aber das Logo zum Wissensforum einbinden (falls es eins gibt...), ist aber aus meiner Sicht kein Muss.

[2019-09-17 13:04] dofeldsc commented on #85
Okay, so habe ich es jetzt auch erst einmal eingebaut.
Das Bild nehme ich dann wieder raus

[2019-09-17 13:05] sonschul commented on #88
Hat sich erledigt, wenn es Datenschutzrechtlich große Bedenken gibt.
Ich werde dazu aber mit KM im Gespräch bleiben... Vielleicht ergibt sich rechtlich mal was Neues.

[2019-09-17 13:25] dofeldsc commented on #58
Das bleibt erst einmal so, bei Bedarf ein MockUp machen und dann sprechen wir drüber

[2019-09-17 13:25] #58 closed, assigned to dofeldsc

[2019-09-17 13:26] dofeldsc commented on #69
Da das System so läuft und keine weiteren Probleme aufgefallen sind wird das Ticket erst einmal geschlossen. Bei Bedarf wieder öffnen...

[2019-09-17 13:26] #69 closed, assigned to dofeldsc

[2019-09-17 13:40] dofeldsc commented on #88
Wenn sich was ergibt kannst du das Ticket dann ja wieder öffnen oder ein neues eröffnen.

[2019-09-17 13:40] #88 closed, assigned to nobody

[2019-09-17 13:41] dofeldsc commented on #81
Hat sich erledigt

[2019-09-17 13:41] #81 closed, assigned to dofeldsc

[2019-09-23 14:05] dofeldsc commented on #71
Das ist für alle gleich, würde sich bestimmt irgendwie ändern lassen aber nicht so einfach.
Eine bessere Alternative ist wohl die Variante mit den vorgefertigten SPARQL-Queries und die Ergebnisse kann man dann einfacherer anders exportieren.

[2019-09-23 14:05] #71 closed, assigned to dofeldsc

[2019-10-10 13:28] dofeldsc commented on #85
Also an sich sind die Daten bereit für den Import. Ich hab sie auch mal ins fis.virtuos.uos.de/vivouos System eingespielt aber so ganz passt das noch nicht.
Die Varianten oben mit der Formatierung funktionieren halt nur wenn der vorliegende Text auch gut formatiert ist...das ist leider nicht immer der Fall. Das führt dann zu sowas:
![mitFormatierung](https://user-images.githubusercontent.com/92487

[2019-10-14 10:41] sonschul commented on #85
Bitte noch den header der shortview anpassen:
![image](https://user-images.githubusercontent.com/40201793/66745651-dc8d0f00-ee7f-11e9-92ea-37b21e47d607.png)

Text zum Kopieren:
Gemeinsam mit der Universität Osnabrück lädt die Neue Osnabrücker Zeitung jedes Jahr zum Osnabrücker Wissensforum ein. Bürgerinnen und Bürger können vorab Fragen einsenden, die ihnen auf den Nägeln brennen. Die Herausforder

[2019-10-24 11:02] sonschul opened #90 "Überarbeitung des Templates ShortView Projects"
Sammelticket für die Überarbeitung der ShortView Projects

![image](https://user-images.githubusercontent.com/40201793/67479375-351d9280-f65e-11e9-8d4a-23189483358a.png)

Projektstatus: soll nur nach laufend / abgeschlossen filtern können
Mittelgeber: soll anhand einer vorgegebenen Liste aus allen "verwendeten" Mittelgeber filtern
Fachbereich: soll anhand einer vorgegebenen Liste aus allen genannt

[2019-11-22 13:13] sonschul opened #91 "Professoren-Profilfotos von KM einbinden"
Die von KM aufgearbeiteten Bildern mit Copyright-Hinweis und der von Urna überarbeiteten Bezeichnung der Bild-Datei (alle nun mit NetID) liegen in der Academic Cloud unter:

https://sync.academiccloud.de/index.php/apps/files?dir=/FIS/VIVO%20Daten/person/profilbilder

Bei Gelegenheit bitte testen, ob die Profilbilder für das VIVO - System geeignet sind.

[2019-12-09 09:00] dofeldsc commented on #91
Sind im Testsystem hinterlegt

[2019-12-09 09:24] dofeldsc commented on #91
Nach Absprache sollen in der Shortview (Listenansicht) der Personen für Personen ohne Foto das Platzhalterfoto angezeigt werden. Das lässt sich wahrscheinlich mit eine kleinen Änderungen im Template realisieren.

[2019-12-11 16:06] sonschul commented on #75
Ist es möglich das Label der Property (kdsf:hatMittelgeber) von Projekt zu Mittelgeber (also genau umgekehrt) auf "Finanzierung durch" zu ändern?

Es ist auf den Projektseiten aufgefallen, dass es dort nicht ganz stimmig ist:

![image](https://user-images.githubusercontent.com/40201793/70638126-9e6e5a80-1c38-11ea-8718-739cb6f35f11.png)

[2019-12-11 16:11] sonschul commented on #75
Englische Bezeichnung: "Financing"

[2019-12-11 16:34] dofeldsc commented on #75
ist erledigt, die Tage dann nochmal auf dem Testserver testen

[2019-12-12 09:38] sonschul commented on #85
Es ist noch eine Kleinigkeit in der ShortView für das Wissensforum aufgefallen.
Bei Personen mit Profil wird unter dem Video die Reihenfolge Nachname, Vorname angezeigt und bei Externen (ohne Profillink) wird Vorname Nachname angezeigt.

Es wäre schön, wenn wir das vereinheitlichen können auf Nachname, Vorname.

[2020-01-08 10:10] dofeldsc commented on #90
So die Projektübersicht mit Filtern ist soweit "fertig" und ist auf dem [Testsystem](https://fis.virtuos.uos.de/vivouos) verfügbar.
Testet das mal bitte und guckt besonders ob sich das so verhält wie ihr euch das wünscht. Feedback gerne einfach hier im Ticket.

[2020-01-08 11:38] sonschul commented on #91
Aus meiner Sicht ist bei den Profilfotos alles in Ordnung und kann so ins Produktivsystem übernommen werden. Die Qualität einiger Bilder ist zwar fragwürdig, aber darüber lässt sich wohl streiten.

[2020-01-08 15:32] sonschul commented on #90
Können wir hinter dem ersten Eintrag noch (alle) ergänzen?
Oder alternativ so wie auf der Seite der Hochschule "Alle" als eigenen Filter?

Den MG Filter würde ich lieber rausnehmen. Den zweiten Filter auf Mittelgeber braucht man m.M.n. nicht.
Ist es möglich die Filter kaskadierend einzubauen?

[2020-01-09 08:45] kaschnie commented on #90
Ich führe hier auch einfach mal auf, was mir spontan beim ersten Drüberschauen aufgefallen ist:

- Den zweiten Filter auf den Mittelgeber würde ich auch rausnehmen und die Filterbox auf Mittelgeber noch rechts neben die Filterbox Fachbereich verschieben?!

- „Alle“ als Filtermöglichkeit im DropDown-Menü – wie bei der Hochschule – könnte man wirklich mit aufnehmen, damit das als Filterauswahl deutl

[2020-01-09 10:12] dofeldsc commented on #90
- Das mit Alle hinter der ersten Auswahl kann man mit aufnehmen, einen extra Punkt würde ich nicht machen weil sonst hat man die Auswahl "Keinen Filter" doppelt. Oder man schreibt das Label, also z.B. Mittelgeber-Filter: , neben die Auswahl und nennt den ersten Punkt Alle- Was euch lieber ist.
- Das mit dem roten Pfeil verstehe ich aber das sollte man wenn dann auf allen Übersichtsseiten entfernen

[2020-01-13 14:08] kaschnie commented on #90
Vielleicht können wir bei unserer Rücksprache am Donnerstag über die Punkte sprechen und gemeinsam überlegen?!

Die Filtermöglichkeit nach mehreren Mittelgebern hatte ich mir so vorgestellt, wie wir das öfter in unseren Cognos-Reports einbauen ;-) ... Hier mal ein Beispiel:
![grafik](https://user-images.githubusercontent.com/44695704/72262063-6df25580-3616-11ea-8131-a81ab58c88a1.png)

[2020-01-16 12:38] dofeldsc commented on #90
Wie in unserem heutigen Treffen besprochen wird folgendes umgesetzt:
- [X] die Filter Mittelgeber werden mit neuer "Multiple Search Selection" umgesetzt (Beispiel https://semantic-ui.com/modules/dropdown.html#multiple-selection)
- [x] Sonderzeichen wie # werden zur Auswahl (alpha) hinzugefügt
  - führt zu erheblichen Problemen, an sich für die Filtervariante kein Problem (ist auch schon eingebaut)

[2020-01-17 08:32] dofeldsc opened #92 "Profilbilder nicht vergrößerbar machen"
Wenn man auf dem Profil einer Person (oder ähnliches) das Profilbild anklickt kommt man in die Großansicht. Aus dieser kommt man jedoch nicht zurück außer man geht im Browser eine Seite zurück.

Daher ist der Vorschlag diese Ansicht (Vergrößern) auszuschalten.

[2020-01-30 11:57] sonschul opened #93 "Forschungsdaten auf Projektseiten einbinden"
Exemplarisch die Darstellung / Einbindung von Forschungsdaten auf Projektseiten testen.
Vgl. **openvivo.org**

[2020-01-30 11:59] sonschul opened #94 "Patente in Projektseiten einbinden"
Exemplarisch die Darstellung der Patente auf Projektseiten testen
Vgl. openVIVO oder andere VIVO-Seiten

Absprache welche Daten verfügbar sind mit TIM

[2020-01-30 12:01] sonschul opened #95 "Promotionen anbinden mit repOSitorium"
https://repositorium.ub.uni-osnabrueck.de/
Open Access - repOSitorium für abgeschlossene Promotionen in VIVO integrieren.

Darstellung testen

[2020-02-03 16:33] #92 closed, assigned to dofeldsc

[2020-02-10 09:12] #91 closed, assigned to dofeldsc

[2020-02-10 09:12] #89 closed, assigned to sonschul

[2020-02-11 10:22] dofeldsc commented on #85
Noch offene ToDos:
- [x] Anordnung der Namen ändern
  - bei schon vorhandenen Personen (Verlinkung NetID) wird "Nachname, Vorname" angezeigt (so wie fast überall)
  - bei nicht im System vorhandenen (nur VCard:Individual angelegt) wird "Vorname Nachname" angezeigt da die Namen so in der Liste angeliefert werden
  - Das einfachste wäre wenn die Daten passend angeliefert würden, da die Unterscheidun

[2020-02-11 12:25] kaschnie opened #96 "Anpassungen Internetseite "Erste Schritte in VIVO""
Auf der Seite kann der erste Aufzählungspunkt rausgenommen werden.
Zusätzlich müsste die Nummerierung aktualisiert werden.

Im letzten Satz
"Wir freuen uns auf Ihr Feedback und beantworten gerne Ihre Fragen per **Mail**  oder über das **Kontaktformular** in VIVO! "
gerne zwei Verlinkungen auf die Mail-Adresse (fis@uni-osnabrueck.de) und auf das Kontaktformular (https://fis.uni-osnabrueck.de/vivouo

[2020-02-11 13:34] #96 closed, assigned to dofeldsc

[2020-02-14 14:20] dofeldsc commented on #87
Das Ticket kann ja erst einmal geschlossen werden da wir außer den Links im Footer und dem Wissensforum keine Social Media Kanäle/Seiten etc. einbinden.
Bei Bedarf das Ticket einfach wieder öffnen.

[2020-02-14 14:20] #87 closed, assigned to dofeldsc

[2020-02-19 13:03] dofeldsc commented on #3
Das Ticket wird verschoben in das Repo [uos_fis_doku](https://github.com/FISvirtUOS/uos_fis_doku)

[2020-02-19 13:04] #3 closed, assigned to dofeldsc

[2020-02-20 11:18] dofeldsc opened #97 "ORCID Integration"
Es gibt schon eine bestehende Integration von ORCID in VIVO.
Eine Anleitung, wie diese Funktionalität aktiviert und genutzt werden kann findet man [hier](https://duraspace.org/vivo-orcid-tutorial-now-available/)

Damit lässt sich eine beidseitige Verknüpfung des VIVO-Profiles und des ORCID-Profiles herstellen. Dafür sind API-Credentials notwendig (public o. member), welche von der UB bereitgestell

[2020-03-30 10:17] dofeldsc opened #98 "DOI Claimer Anpassung"
Seit dem Update auf die 1.11 von VIVO ist der DOI-Claimer verfügbar.

Da diese Funktion ganz neu ist, soll sie ausführlich getestet werden (schon zum Teil passiert) und anschließend auf mehrere passenden Seiten eingebunden werden.
Zum Beispiel in folgenden Seiten:
- Personenprofil
- Projektseiten

Die Frage die sich dabei stellt ist, ob sich die Verknüpfung (Property) zur Person/Projekt damit auch

[2020-05-06 11:27] dofeldsc opened #99 "Bug: Link Personenseite auf der Startseite defect"
Wenn man auf der Startseite unter der kleinen Auswahl (5-6) von Personen den Link "Alle ansehen..." benutzt um auf die Übersichtsseite der Personen zu gelangen ist die Klasse **FacultyMember** vorausgewählt.

Die gibt es bei uns als Auswahl nicht, daher sieht man zwar eine Liste an Personen aber sobald man versucht die zweite Seite auszuwählen oder nach Anfangsbuchstaben zu filtern passiert nichts

[2020-05-06 11:31] dofeldsc opened #100 "Bug: Übersichtsseite einer Klasse"
**Der Bug ist nicht für normale Nutzer relavant**, da diese Seite nicht einfach so erreichbar ist. Dafür muss man manuell die Klassen-Uri/ID in die URL eingeben.

Wenn man zum Beispiel durch eintragen einer Klasse-Uri in der URL folgende Seite aufruft
[https://fis.uni-osnabrueck.de/vivouos/individuallist?page=4&vclassId=http%3A%2F%2Fkerndatensatz-forschung.de%2Fowl%2FBasis%23Person](https://fis.un

[2020-05-26 14:03] dofeldsc opened #101 "List Home Page - Encoding Issue"
Bei der neuen Datenlieferung ist ein Encoding Problem in einem Freemarker-Script aufgefallen.

Weil in dem Titel eines [Projektes](https://fis.uni-osnabrueck.de/vivouos/individual?uri=https%3A%2F%2Ffis.uos.de%2Fvivouos%2Findividual%2Fprojectbbd027c0894e5500b609f965f228f532) ein ' enthalten ist, schlägt ein Script fehl welches für die Startseite eine zufällige Auswahl an Projekten anzeigt. In der A

[2020-07-23 15:18] dofeldsc commented on #90
Hier nochmal kurz die Zusammenfassung der heute besprochenen Anpassungen:
- [x] Extra Anzeige der gewählten Filter ausbauen
- [X] Hintergrundfarbe bei der Auswahl auf Rot (Coporate Design) ändern
- [X] Bei "Reset Filter" auch Mittelgeber zurücksetzen
- [X] Bugfix bei der Suche
- [X] Speichern der Filter ausbauen
  - Die Auswahl bleibt gespeichert aber nicht die Filter, das ist wohl Standard (vllt

[2020-08-10 11:03] sonschul commented on #90
Als Erweiterung zur bisherigen Filtermöglichkeit sollen die Fächer kaskadierend gefiltert werden.
Die nicht zum Fachbereich zugehörigen Fächer werden nach Auswahl eines FB ausgegraut oder ausgeblendet.

[2020-08-11 10:16] sonschul commented on #90
- [x] "Filter anwenden" und "Filter zurücksetzen" statt als klassischen Button nur als Text einbinden.
ähnlich wie hier:
![image](https://user-images.githubusercontent.com/40201793/89886178-7d497980-dbcc-11ea-955c-3f1276f49dfa.png)

- [x] Leerzeichen vor Mittelgeber, damit das M nicht direkt am Rand steht.
![image](https://user-images.githubusercontent.com/40201793/89886198-86d2e180-dbcc-11ea-881d

[2020-08-14 08:05] sonschul opened #102 "Layoutanpassungen auf Startseite (Corporate Design)"
In den drei Random List Boxen müsste unten jeweils der Link zu "Alle anzeigen ..."
noch mit einem roten Pfeil ergänzt werden.

![image](https://user-images.githubusercontent.com/40201793/90227877-92651900-de15-11ea-8822-1849ccf59015.png)

[2020-08-17 07:41] dofeldsc commented on #102
erledigt, siehe Testsystem

[2020-08-17 07:41] #102 closed, assigned to dofeldsc

[2020-08-17 07:48] #101 closed, assigned to dofeldsc

[2020-08-17 07:49] dofeldsc commented on #99
Habe den Link auf KDSF:Beschäftigter geändert. Sollte jetzt keine Probleme mehr machen

[2020-08-17 07:49] #99 closed, assigned to dofeldsc

[2020-08-20 09:11] dofeldsc commented on #98
Nach weiterer Diskussion und Testläufen macht es mehr Sinn den vorhanden DOI-Claimer auf dem Personenprofil zu erweitern. Der Weg über das Projekt wäre auf lange Sicht auch sinnvoll aber für den ersten Schritt soll der DOI-Claimer um folgende Funktion erweitert werden:

Nachdem man bei einer Person eine oder mehrere DOIs im DOI-Claimer angegeben hat, werden die verfügbaren Informationen angezeigt.

[2020-09-29 09:03] dofeldsc opened #103 "Projektfilter V2"
Die erste Version der Filter auf der Projektübersicht sind im Live-System verfügbar (siehe https://fis.uni-osnabrueck.de/vivouos/projects)

Für die zweite Version sollen noch folgende Dinge angepasst bzw. verbessert werden:

- [ ] "Filter anwenden" soll auf die rechte Seite verschoben werden
- [ ] Laufzeit der Suche verbessern, besonders bei Projektstatus "laufend"
- [ ] Filter anpassen/hinzufügen

[2020-09-29 09:06] dofeldsc commented on #90
Die erste Version ist jetzt online und alle offenen Punkte wurden in das Nachfolgeticket https://github.com/FISvirtUOS/VIVO/issues/103 übernommen.

[2020-09-29 09:06] #90 closed, assigned to dofeldsc

[2021-02-03 06:59] kaschnie opened #104 "Affiliationsrichtlinie im VIVO einbinden"
Verlinkung zur Affiliationsrichtlinie im VIVO einbinden - wo im VIVO?

Verabschiedete Affiliationsrichtlinie irgendwo auf der Internetseiten veröffentlicht? - Nachfrage bei UB @sonschul

[2021-02-03 07:00] kaschnie opened #105 "Status-Quo-Übersicht: ORCID"
Zusammenfassung Status Quo:

Wie viele ForscherInnen sind im VIVO hinterlegt?
Wie viele ForscherInnen haben eine ORCID hinterlegt?

Nach ORCID-Abfrage (bei der UB oder per Mail bei den Wissenschaftlern) Zahlen aktualisieren, um Veränderungen zu dokumentieren

[2021-02-03 07:01] kaschnie opened #106 "Status-Quo-Übersicht: ORCID"
Zusammenfassung Status Quo:

Wie viele ForscherInnen sind im VIVO hinterlegt?
Wie viele ForscherInnen haben eine ORCID hinterlegt?

Nach ORCID-Abfrage (bei der UB oder per Mail bei den Wissenschaftlern) Zahlen aktualisieren, um Veränderungen zu dokumentieren

[2021-02-03 07:02] #106 closed, assigned to nobody

[2021-02-03 07:15] kaschnie opened #107 "ORCID in Personen-Tabelle"
Neue Spalte in Personen-Tabelle aufnehmen

[2021-03-04 15:13] dofeldsc opened #108 "Links auf Leitlinien-Seite müssen geändert werden"
Kathrin ist aufgefallen, dass der Link zum KDSF nicht mehr existent ist
alter Link: https://www.wissenschaftsrat.de/arbeitsbereiche-arbeitsprogramm/kerndatensatz_forschung/aktuelles.html
neuer Link (vorläufig): https://www.wissenschaftsrat.de/SharedDocs/Pressemitteilungen/DE/PM_2020/pm_2720.html

Dabei ist auch aufgefallen, dass ein paar Links nur mit http: angegeben waren. Das führt bei manchen B

[2021-03-04 15:17] dofeldsc commented on #108
Habe es im Code korrigiert und den Link habe ich im Produktivsystem über die Oberfläche geändert.
Die anderen Änderungen kommen dann mit dem nächsten Update.

Ist der Link denn jetzt so richtig?
Wenn ja, kann das Ticket geschlossen werden.

[2021-03-25 09:25] dofeldsc opened #109 "QR-Code auf Profilseiten kaputt"
Ich habe gerade zufällig mal den QR-Code auf den Profilseiten getestet. Der scheint nicht richtig zu funktionieren, da der Link unvollständig ist.

z.B. <img src="https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=https%3A%2F%2Ffis.u%2Fvivouos%2Fdisplay%2FMuKl919&choe=UTF-8" />

Der angegebene Link ist so nicht richtig, "fis.u/vivouos" da fehlt das "fis.uni-osnabrueck.de/vivouos".

[2021-03-25 09:28] sonschul commented on #109
Kannst du mir den korrigierten QR-Code für die PDF Version der TIF-Liste noch zur Verfügung stellen?

[2021-03-25 10:14] dofeldsc commented on #109
Was meinst du genau? Das ist nur ein Beispiel, der QR-Code ist auf jeder Profilseite kaputt und wird vom System bereitgestellt. Der ist ja auch für jedes Profil anders.
Welche TIF-Liste überhaupt und von was willst du genau einen QR-Code haben? Für jede Profilseite?

[2021-03-25 10:18] dofeldsc commented on #109
Das wäre ein Beispiel von einem funktionierenden QR-Code für ein Profil
<img src="https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=https%3A%2F%2Ffis.uni-osnabrueck.de%2Fvivouos%2Fdisplay%2FMeSu027&choe=UTF-8" />

[2021-03-25 10:52] sonschul commented on #109
Die TIF Liste, ist die Liste zur Transparenz in der Forschung (TIF), die jährlich auf den Internetseiten im PDF bereitgestellt wird und als Grundlage für die Projekte im FIS dient.
https://www.uni-osnabrueck.de/universitaet/zahlendatenfakten/transparenz-der-forschungforschungsethik/

In den "Projekte" - PDF Dateien würde ich gerne einen QR-Code zur Startseite des FIS aufnehmen, wenn das möglich is

[2021-03-25 11:01] dofeldsc commented on #109
Jo, alles verstanden ;)

Dann sollte der hier ja reichen
<img src="https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=https%3A%2F%2Ffis.uni-osnabrueck.de%2Fvivouos&choe=UTF-8" />

[2021-04-20 14:04] #75 closed, assigned to dofeldsc

[2021-04-20 14:57] dofeldsc commented on #68
Ich habe den Umbruch mal gefixt.(Noch nicht auf dem Server)
 Reicht das so oder muss die Anzahl unbedingt in die Mitte (vertikal)?
![fix_68](https://user-images.githubusercontent.com/9248706/115417876-4a469380-a1f9-11eb-8a19-6442abdf241f.png)

Die Änderungen der Klassenlabels sollten wir mal gesondert in einem Ticket machen. Das wird wahrscheinlich einiges.

[2021-04-21 06:50] sonschul commented on #68
Haben wir gar nicht konsequent gendert?
Professor? Beschäftige/Beschäftiger?

[2021-04-21 07:04] dofeldsc commented on #68
Scheinbar nicht, das Foto ist aus dem Produktivsystem.
![people_site](https://user-images.githubusercontent.com/9248706/115510584-342fe600-a280-11eb-97d4-86e3ecd342de.png)

Die beiden kann ich ja eben ändern in
[code]

[2021-04-21 07:07] dofeldsc commented on #68
.... Github entfernt das *

[2021-04-21 07:31] sonschul commented on #68
"Professor*in"
"Beschäftigte*r"
oder?
Bei "ehemalige Beschäftigte" auch? Da wüsste ich nicht was die korrekt Form ist...
"ehemalige*r Beschäftigte*r"?

Ich befürchte zwar, dass es wieder Auswirkungen (bspw. auf Forscherprofile) hat, die unschön sind, aber korrekt wäre die von dir vorgeschlagene Schreibweise.

[2021-04-21 08:52] dofeldsc commented on #68
Das könnte natürlich sein...Ich mache die Änderungen mal im Testsystem und schaue es mir an

[2021-04-21 13:38] dofeldsc commented on #68
Für Professor -> Professor*in habe ich das mal auf dem Testsystem https://fis.virtuos.uni-osnabrueck.de/vivouos gemacht.
Ich sehe da keine Probleme, ist ja auch nur das Label und nicht die URI.
Oder sieht jemand was oder hat eine Idee wo es Probleme geben könnte?

Das einzige was mit dann auffällt ist, dass wir es dann für alle einheitlichen machen sollten.
KDSF-Ontologie -> fast durchgehend nicht

[2021-05-05 09:36] #108 closed, assigned to dofeldsc

[2021-06-03 09:04] dofeldsc commented on #104
![vorschlag_affiliationsrichtlinie](https://user-images.githubusercontent.com/9248706/120618300-3bd7d280-c45b-11eb-8fec-907acf9b7c4c.png)

Jetzt mal als Vorschlag auf der Seite für die Publikationen eingebunden (heißt jetzt noch "Projektveröffentlichungen"):
Oder wie habt ihr euch das vorgestellt?

Ich bräuchte auch noch den Link zur Affiliationsrichtlinie.

[2021-06-08 08:53] dofeldsc commented on #104
Wir haben gerade in der wöchentlichen Besprechung darüber gesprochen.
Einen Link gibt es noch nicht.
Eine Idee wäre auch, das so wie das Impressum unten in den Footer mit aufzunehmen. Unter dem Link sollte dann das PDF herunterladbar sein.

[2021-06-14 10:19] dofeldsc commented on #104
Die Affiliationsrichtlinie ist ab jetzt unter
https://www.ub.uni-osnabrueck.de/publizieren_archivieren/affiliationsrichtinie.html verfügbar

[2021-06-29 08:01] dofeldsc commented on #98
Ist jetzt im Produktivsystem verfügbar. Da keine Rückmeldungen mehr kamen ist das fürs erste erledigt

[2021-06-29 08:01] #98 closed, assigned to dofeldsc

[2021-06-29 14:52] dofeldsc opened #110 "Profilseite: Klassennamen wieder hinzufügen"
Auf den Profilseiten von Personen (zur Zeit nur als "Visitenkarte") sollen wieder die Klassennamen auftauchen.

[2021-07-06 12:05] dofeldsc opened #111 "Anzeige ORCID Personen-Profil"
Die Verlinkung des ORCID-Profils soll auf dem Personen-Profil (UOS-Visitenkarte) sichtbar werden.

Ein Beispiel wie es aussehen könnte wäre sowas:
![orcid_link_profil](https://user-images.githubusercontent.com/9248706/124596908-19264880-de63-11eb-92eb-9c5e00799545.png)

Dann wahrscheinlich in der rechten unteren Ecke, wo auch externe Profilseiten verlinkt werden.
Gibt es dazu Meinungen?

[2021-07-06 12:41] sonschul commented on #111
Find ich gut und ausreichend mit dem Logo von ORCID.

[2021-07-08 08:43] dofeldsc commented on #104
Ich habe das jetzt als Link im Footer eingebaut (siehe Foto).

**Fragen** die zu klären sind:
- Soll sich dann ein neues Fenster im Browser öffnen oder soll man direkt auf die Seite kommen?
- Ist der Text so okay? Als Titel (also Text der angezeigt wird wenn man mit der Maus über dem Link hovert) habe ich jetzt mal "Affiliationsrichtlinie UOS" genommen?!
- Was wäre die korrekte englische Übersetzu

[2021-07-08 09:40] sonschul commented on #104
Find ich gut so!

zu 1.) ich würde das grundsätzlich so handhaben, dass Seiten außerhalb von VIVO in einem neuen Fenster und nur Links zu anderen VIVO-Seite im gleichen Fenster geöffnet werden.
zu 2.) als Mouseover-Text würde ich lieber nur "Affiliationsrichtlinie" oder sonst "Affiliationsrichtlinie der Universität Osnabrück" nehmen
zu 3.) Übersetzung Affiliation Policy wird auch von anderen Seite

[2021-07-08 14:46] dofeldsc commented on #110
Welche Version findet ihr denn besser?
Hinter dem Namen
![Bildschirmfoto vom 2021-07-08 16-44-43](https://user-images.githubusercontent.com/9248706/124942484-f5523680-e00b-11eb-88cd-8c56c1ab435e.png)

oder unter dem Namen
![Bildschirmfoto vom 2021-07-08 15-48-36](https://user-images.githubusercontent.com/9248706/124942509-fc794480-e00b-11eb-9e4e-42c9f8c217a8.png)

Ich persönlich finde die Version

[2021-07-08 17:40] sonschul commented on #110
Ich finde es auch hinter dem Namen besser, allerdings wurde heute in der Teambesprechung gesagt, dass die Empfehlung der Stadt Osnabrück mit : also Professor:in bevorzugt werden...

[2021-07-09 05:30] kaschnie commented on #110
dito.. finde es hinter dem Namen auch besser! :)

[2021-07-09 06:39] dofeldsc commented on #110
Alles klar, danke fürs Feedback.
Mein letzter Stand war die Empfehlung von K&M das * zu bevorzugen aber dann ändere ich das gerne wieder. Hatte das auch nur mal so nebenbei für unsere Klassennamen gemacht. Wir sollten ja immer noch das System mal durchgehen und alle Dinge richtig Gendern die wir so finden, besonders die KDSF-Ontologie da wir die hauptsächlich benutzen.

[2021-07-09 12:49] dofeldsc commented on #104
Habe es gerade ins Produktivsystem übertragen

[2021-07-09 12:49] #104 closed, assigned to dofeldsc, sonschul

[2021-07-09 12:49] dofeldsc commented on #110
Habe es gerade ins Produktivsystem übertragen, gerne mal schauen ob es so passt

[2021-07-09 13:04] sonschul commented on #104
Getestet und für gut befunden. ;-)

[2021-07-13 08:50] dofeldsc commented on #110
Jetzt passt das Template bei dem Wissensforum nicht mehr ganz, muss ich noch anpassen. (float muss da weg)

[2021-07-13 15:02] dofeldsc commented on #110
Ist gefixt.

[2021-07-13 15:08] dofeldsc commented on #111
Ist eingebaut und aufs Testsystem übertragen.
Da es bis jetzt nur eine Person mit einem ORCID-Eintrag gibt könnte ihr das nur hier sehen https://fis.virtuos.uni-osnabrueck.de/vivouos/display/n551

Passt das so?
Wenn ihr sehen wollt wie das mit anderen Einträgen aussieht, einfach einloggen und paar Dinge hinzufügen.

[2021-07-14 06:58] sonschul commented on #111
![image](https://user-images.githubusercontent.com/40201793/125577208-c4f81a94-2c15-4247-aee0-6d628b952287.png)

Ich fände es linksbündig unter den Schwerpunkten besser.
Von der Optik sonst in Ordnung.
Allerdings wurde ich in anderen Kontexten immer mal wieder darauf aufmerksam gemacht, dass Inhalte/Texte immer kleiner werden und dadurch schlecht lesen oder bedient werden können.
Wenn der Platz au

[2021-07-14 12:57] dofeldsc commented on #111
Habe ich eingebaut und spiele es nachher aufs Testsystem.
dazu aber noch ein paar Fragen:
- Da es jetzt unter den Forschungsschwerpunkten aufgelistet ist, sollte es eine Überschrift bekommen? Sonst sieht das so aus als ob es ein Forschungsschwerpunkt ist...
- wegen der Lesbarkeit, soll dann alles größer gemacht werden? Man kann ja auch selber Zoomen bzw die Seite komplett vergrößern. Der Platz ist

[2021-07-14 13:01] dofeldsc opened #112 "Profilseite: Mobile Ansicht der uos-vcard sieht nicht gut aus"
Mir ist gerade bei einem anderen Ticket aufgefallen das die mobile Ansicht auf der Profilseite (Personen) nicht optimal aussieht. Ich würde bei zu wenig Platz jetzt einfach erst Foto und dann den Rest anzeigen. Wäre das okay oder wie wünscht ihr euch das?

So war es bist jetzt:
![Bildschirmfoto vom 2021-07-14 14-59-28](https://user-images.githubusercontent.com/9248706/125626353-e5f16ab4-dc99-488e-

[2021-07-16 13:37] sonschul commented on #112
Viel besser so !

Kann man die "Suchleiste" noch linksbündig ausrichten, wie in der Vorher-Ansicht?

[2021-07-16 13:44] sonschul commented on #111
Das ist eine gute Frage...

Brown University hat "In the Web" als Überschrift vorgesehen...
Vielleicht auf Deutsch "Web Profile" und die Möglichkeit anbieten dort
- ORCID, LinkedIn, ResearchGate, Google Scholar, Twitter zu verlinken?

Zur Größe: ich würde eher zur Größe des Profil-Namens als zur Textgröße tendieren.
Was meint ihr?

[2021-07-20 08:31] dofeldsc commented on #111
wie gerade besprochen:
- ORCID-Logo zum test mal etwas größer.
- Der ORCID-Link soll wieder auf die linke Seite unter "Webseiten" aufgeführt werden

[2021-07-20 13:30] dofeldsc commented on #111
So würde das jetzt mit größerem Logo und an der neuen Stelle aussehen:
![Bildschirmfoto vom 2021-07-20 15-25-56](https://user-images.githubusercontent.com/9248706/126332005-e93cee5e-b291-4c16-a532-f0e3a2305849.png)

Also mit der Größe des Logos finde ich okay aber direkt unter Webseiten, da bräuchte es schon noch eine eigene Überschrift...oder man macht den Link auch in rot (also das ORCID), was i

[2021-09-20 12:40] dofeldsc commented on #112
Wenn die Auflösung groß genug ist ist beides nebeneinander. Da die Suchleiste eine Mindestgröße hat wird das bei zu kleiner Auflösung halt so.
Kann ich mir anschauen, du meinst das die dann die ganze Breite einnimmt oder?

[2021-09-20 12:45] dofeldsc commented on #109
scheint in der neuen Version wieder richtig zu funktionieren, muss ich dann produktiv noch testen wenn das Update fertig ist

[2021-09-20 12:47] sonschul commented on #112
Ganze Breite wäre sicherlich auch eine gute Alternative!

Es ging hier glaub ich hauptsächlich um die Text  / Bild Aufteilung, wenn ich mich recht erinnere.

[2021-10-14 08:37] dofeldsc commented on #85
Nochmal zur Erinnerung, die Formatierung sieht bei manchen Texten einfach **** aus.
Beispiel: https://fis.uni-osnabrueck.de/vivouos/display/wf1v7

[2021-10-19 08:18] dofeldsc opened #113 "Eingabe lange Texte"
uns ist gerade ein Problem bei der Korrektur/Eingabe langer Texte aufgefallen
Beispiel: https://fis.uni-osnabrueck.de/vivouos/individual?uri=https%3A%2F%2Ffis.uos.de%2Fvivouos%2Findividual%2Fwf1v7&extra=true#description
Wenn in den Texten Absätze, Sonderzeichen etc. vorkommen dann bekommt man nicht den ganzen Text.
Zusätzlichen lassen sich lange Texte nicht gut bearbeiten, da das Feld sehr klein i

[2021-10-19 08:24] dofeldsc commented on #85
Zugehöriges Ticket https://github.com/FISvirtUOS/VIVO/issues/113

[2021-10-22 08:27] dofeldsc opened #114 "Bootstrab theme anpassen"
Das theme ist generell beschränkt in der Breite, es soll evaluiert werden ob es gut möglichst die volle Breite auszunutzen.

Besonders auf den Übersichtsseiten (z.B. /people) sollten die "Filter" neben der Liste der Personen auftauchen.

[2021-10-22 09:03] dofeldsc commented on #114
im normalen Bootstrab thema ist das auch so, nochmal schauen was wir da genau damals gemacht haben.
An sich kann der Inhalt auch so bleiben aber z.B. das Bild auf der Startseite sollte die volle Breite nutzen.

[2021-11-02 10:05] dofeldsc opened #115 "Suche: Publikationen werden über Autor nicht gefunden"
Wenn man nach dem Titel einer Publikation sucht, findet man diese auch.
Wenn man jedoch nach dem Autor einer Publikation sucht, findet man keine seiner Publikationen.

Das muss irgendwas mit dem Solr-Index zutun haben...

[2021-11-08 13:24] dofeldsc commented on #115
Ich habe das Problem gefunden und gelöst. Update kommt dann heute noch.

In der aktuellen Version, also 1.12 (mit i18n) ist das Problem schon gehoben...
https://github.com/vivo-project/VIVO/commit/f15eec19e0239a0d8bc56a6489a6be892a2037fb#diff-fb5ada58f0912a6b71f8eb5ef2fc559c4dc80fe750e9d81879c38f26efe60a80

[2021-11-08 13:58] dofeldsc commented on #115
Update ist erfolgt und sollte damit erledigt sein

[2021-11-08 13:58] #115 closed, assigned to dofeldsc

[2021-11-19 10:21] #45 closed, assigned to dofeldsc

[2021-11-19 10:25] dofeldsc commented on #68
Wir haben das gerade nochmal besprochen:
Stand jetzt: Alles was auffällt in die "neue" Schreibweise mit ":" ändern. (z.B. Professor:in)
Kathrin macht bei Gelegenheit noch eine Liste von den Klassen/Properties die ihr aufgefallen sind.

[2021-11-19 10:32] sonschul commented on #79
Unterteilung der Mittelgeber bei öffentlichen Mittelgeber in Arbeit.
Beispiel: Bund --> BMBF

Hendrik wollte in den Daten aus D3 nachschauen, ob die Detailinformationen vorliegen und in den VIVO-Daten nachpflegen.

[2021-11-19 10:33] dofeldsc commented on #80
wie gerade besprochen hat sich das erledigt

[2021-11-19 10:33] #80 closed, assigned to dofeldsc

[2021-11-19 10:36] #85 closed, assigned to dofeldsc

[2021-11-19 10:39] sonschul commented on #93
Link zum Forschungsdatenrepositorium:
https://osnadata.ub.uni-osnabrueck.de/

[2021-11-19 10:49] dofeldsc commented on #94
Als Zusätzliche Info:
Es gibt auch APIs unter denen man solchen Daten abrufen kann
lens.org
https://www.dpma.de/recherche/datenabgabe/dpmaconnect/index.html

Könnte man sich mal anschauen.

[2021-11-19 10:58] dofeldsc commented on #95
In diesem Ticket erledigt https://github.com/FISvirtUOS/uos_fis_doku/issues/58
Den Rest (andere Publikationen) beziehen wir dann aus der Hochschulbibliographie

[2021-11-19 10:58] #95 closed, assigned to sonschul, kaschnie

[2021-11-26 12:29] dofeldsc commented on #112
wie gerade besprochen, passt das so. Das Ticket ist erledigt

[2021-11-26 12:29] #112 closed, assigned to dofeldsc

[2021-11-26 12:33] dofeldsc commented on #111
wie gerade besprochen kann das so bleiben. Ticket ist also erledigt

[2021-11-26 12:33] #111 closed, assigned to dofeldsc

[2021-11-26 12:34] dofeldsc commented on #110
Wie gerade besprochen ist das Ticket damit erledigt.

[2021-11-26 12:34] #110 closed, assigned to dofeldsc

[2021-11-26 12:39] sonschul opened #116 "Projektlogos und QR Codes in Projekten einbinden"
Bitte anhand des TAPIR Projekts einmal testen, wo im Template Projektlogos, QR-Codes oder Logos von Mittelgebern platziert werden können und hier mit Screenshot präsentieren:

[2021-12-01 08:18] kaschnie commented on #94
zusätzliche Info aus VIVO Implementers DE-Runde vom 30.11.21:
- HS Mittweida testet Integration von Patenten mit dpma API
- API-Kosten einmalig 200 Euro
- EPA ist enthalten (Patente vom europ. Patentamt)

[2021-12-20 10:43] dofeldsc opened #117 "Ladezeit der Startseite"
Nachdem ich zu Testzwecken die über 5000 Publikationen von der UB ins Testsystem geladen habe, merkt man das die Startseite relativ lange lädt.
Mein erster Verdacht ist die Zufallsauswahl auf der Startseite, also die Liste der 5-6 Publikationen.

[2021-12-21 14:55] dofeldsc commented on #117
Die Vermutung war richtig, es lag an den Data-Gettern für die Homepage.
Dort wurden ALLE Publikationen abgefragt, umgewandelt und dann wurden zufällig 6 für die Mini-Liste ausgewählt...Ich habe das Limit jetzt einfach auf 50 gesetzt und schon läuft alles wieder!

[2021-12-21 14:55] #117 closed, assigned to dofeldsc

[2022-01-31 07:37] dofeldsc commented on #97
Wie Ende des Jahres besprochen warten wir auf die Weiterentwicklung in der Community, bei der wir uns gerne beteiligen. Bis dahin ist von unserer Seite nichts zu tun.

[2022-01-31 07:37] #97 closed, assigned to dofeldsc

[2022-03-18 14:15] dofeldsc commented on #113
Es gibt auch Beispiele (siehe https://fis.uos.de/vivouos/display/projectd84684cf01157fcf5f5e8b8d27950b70 - Beschreibung) da scheint das ein " den Text, der zur Bearbeitung angezeigt wird, unterbricht. Das liegt sehr wahrscheinlich an einem Kodierungsfehler/-problem.
Das sollte in dem Zuge auch kontrolliert werden

[2022-03-22 16:03] dofeldsc commented on #100
Nach der Umstellung auf tdb funktioniert es wieder :)

[2022-03-22 16:03] #100 closed, assigned to dofeldsc

[2022-03-30 09:03] dofeldsc commented on #113
Das sind ja zwei Probleme, einerseits das **kleine Bearbeitungsfenster**.
Das lässt sich dadurch lösen, dass man der Data-Property die Eigenschaft vitro:editing  "HTML"^^xsd:string zuweist. Für die meisten Properties geschieht das in vitroAnnoations.
-> Die fallen aber unter die firsttime-files, die in der 1.11 nur beim initialen Start geladen werden - **Workaround**: Einmal in everytime verschieb

[2022-03-31 09:14] dofeldsc commented on #113
Ist im Testsystem und auch Produktivsystem eingespielt, Problem sollte somit also behoben sein

[2022-03-31 09:14] #113 closed, assigned to dofeldsc

[2022-04-05 13:48] dofeldsc commented on #114
Ich habe mal einen ersten Entwurf ins Testsystem gepackt.
Das Bild geht jetzt über die gesamte Breite und verhält sich auch gut wenn die Breite verändert wird.
Wolltet ihr das ungefähr so oder doch lieber anders?

[2022-05-10 12:58] kaschnie commented on #114
Mit in Besprechungspunkte für die nächste Rücksprache mit Sonja nehmen.

Link zur Uni-Seite mit "breitem Header": https://www.uni-osnabrueck.de/studieninteressierte/erste-orientierung/